<div style="background-color: var(--page-background-color);">
  <div class="div-heading-title"><h1 style="padding-top: 8px; ">Storms River</h1></div>
  <div class="wrapper-grid">
    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Communication</h3>
        </div>

    <div class="div-form">
      <div class="grid-container-flow-meters-communication">

        <div class="grid-container-communicationStatus-column1">Communication Status:</div>
        <div *ngIf="variable.comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
          <img  src="assets/img/General/Green Circle Tick.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3; padding-top: 5px;">
          </div>
          <div *ngIf="variable.comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" style="grid-column: 3; padding-top: 5px;" >
           <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img">
           </div>

        <div class="grid-container-communicationStatus-column1">Last Update:</div>
        <div class="grid-container-communicationStatus-column3">{{variable.wtw_storms_UT}}</div>
        <div *ngIf="showNavigationButton == 'true'"  class="grid-container-communicationStatus-column1"></div>
        <div *ngIf="showNavigationButton == 'true'"  class="grid-container-communicationStatus-column3"></div>

        <div *ngIf="showNavigationButton == 'true'" class="grid-button">
          <button  class="button-color" a routerLink="/hawkeye/pumpstations/stormsriver"  >Pumpstation</button></div>
  </div>

</div>
  </form>
</section>


<section class="res-form" fxLayoutAlign="center ">
  <form fxLayout="column">
    <div style="margin-bottom: 8px"  class="div-form">
      <h3 style="padding-top: 8px; ">Reservoir Levels</h3></div>

      <div class="div-form">

      <h4 style="padding-top: 8px;" >Holding Reservoir</h4>
<div fxLayoutAlign="center " > <div class="circle1">
<div  class="circle2-b"><div [ngStyle]="{'height.%' : 100 - variable.wtw_storms_holding_reservoir_level }" class="fill"><div class="lvl-font">{{variable.wtw_storms_holding_reservoir_level}}%</div></div></div>
</div>
</div>

<br>

<h4 style="padding-top: 8px;" >Overhead Tank</h4>
<div fxLayoutAlign="center " > <div class="circle1">
<div  class="circle2-b"><div [ngStyle]="{'height.%' :100 - variable.wtw_storms_overhead_tank_level}" class="fill"><div class="lvl-font">{{variable.wtw_storms_overhead_tank_level}}%</div></div></div>
</div>
</div>
<br>
<br>

</div>
            </form>

            </section>


</div>
