<table mat-elevation-z8 mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="alarm" >
    <th style=" width:40px"mat-header-cell *matHeaderCellDef mat-sort-header > INCIDENT </th>
    <td style=" width:40px"mat-cell *matCellDef="let element"> {{element.alarm}} </td>
  </ng-container>

  <ng-container matColumnDef="description" >
    <th style=" padding-left: 30px;"mat-header-cell *matHeaderCellDef mat-sort-header > DESCRIPTION </th>
    <td style=" padding-left: 30px;"mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <tr style="width:20px" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
