table {
  padding-left: 14px;
  width: 96%;

  background-color: var(--form-background-color);
  color:  var(--form-text-color);
  /* font-family: 'Rubik', sans-serif !important; */
}
td{
  font-size:12px;
  font-family: 'Rubik', sans-serif !important;
color:  var(--ps-table-td-color);
text-align: left;
background-color: var( --ps-table-td-fault-color)
}

th{
  font-weight:600;
  color:  var(--ps-table-th-color);
}
/* SO I'm putting the css at the html component I want to use.  That way I don't have to go and scroll through an entire page. */
