<app-page-with-two-trends [siteTitle]="siteTitle"  (messageEvent)="recieveDate($event)" [isLoading]=isLoading [options]="options1" [options2]="options2" [trendNameOne]="trendNameOne" [trendNameTwo]="trendNameTwo">

    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Communication</h3>
        </div>

    <div class="div-form">
      <div class="grid-container-flow-meters-communication">

        <div class="grid-container-communicationStatus-column1">Communication Status:</div>
        <div *ngIf="variable.comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
          <img  src="assets/img/General/Green Circle Tick.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px">
          </div>
          <div *ngIf="variable.comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;" >
           <img src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px">
           </div>

        <div class="grid-container-communicationStatus-column1">Last Update:</div>
        <div class="grid-container-communicationStatus-column3">{{variable.stan_ps_ut}}</div>

  </div>

  </div>
  </form>
  </section>


  <section class="ground-form" fxLayoutAlign="center">

    <form fxLayout="column">

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">General</h3>
      </div>

  <div class="div-form">
    <div>
    <div class="grid-container-flow-meters-general">


      <div class="grid-container-general-column1">Delivery</div><div class="grid-container-general-column2"> <img src="assets/img/Symbol/bar.png" class="img2" ></div>
      <div class="grid-container-general-column4">{{variable.stan_common_delivery_pressure}} bar</div>
      <div class="grid-container-general-column1">Suction</div><div class="grid-container-general-column2"> <img src="assets/img/Symbol/bar.png" class="img2" ></div>
      <div class="grid-container-general-column4">{{variable.stan_common_suction_pressure}} bar</div>
      <div class="grid-container-general-column1"></div><div class="grid-container-general-column2"> <img src="assets/img/Symbol/FM.png" class="img2" ></div>
      <div class="grid-container-general-column4">{{variable.stan_pump_station_flow}} Ml</div>



  </div>
  <div class="grid-container-flow-meters-button">
    <div class="grid-column-button">
  <button (click)="ViewLogsClick()" routerLink="/hawkeye/pumpstations/control-log-viewer" fxLayout="center" mat-flat-button style=" color:white; background-color:var(--mat-toolbar-background-color);"> View Logs</button>
  <br>
</div>
<div *ngIf="controlAccess==true" >
  <div class="grid-container-flow-meters-communication">
    <div class="grid-container-communicationStatus-column1"> Control Buttons:</div>
    <div class="grid-container-communicationStatus-column3"> <mat-slide-toggle  id="slide-button" (click)="toggle()"  ngModel name="slider" [(ngModel)]="stan_hawkeye_enable_control"  ></mat-slide-toggle></div>
    </div>
    <div  *ngIf="stan_hawkeye_enable_control==true">

      <form  #f="ngForm" (ngSubmit)="onNewSpeedPoint(f)" >

        <mat-form-field  class="textColaoar"  style="  padding-left: 36px; padding-bottom: 10px;float:left; text-align:center; padding-top: 5px; font-weight: 600; font-size:12px" appearance="outline">
          <mat-label style = "color: var(--overview-table-filter-color);">Pump Speed: {{stan_ps_scada_speed_sp}}</mat-label>
          <input ngModel name="speed"  #speedInput="ngModel"matInput placeholder="Ex. 50" value="" style ="color: var(--overview-table-filter-color);">
          </mat-form-field>
          <button mat-flat-button style=" float:left;color:white; background-color:var(--mat-toolbar-background-color);  margin-left: 20px; margin-top:11px; float:left; text-align:center;"> Set</button>
        </form>


      </div>
    </div>
      <br>
      <br>
    </div>



</div>
</div>
  </form>
  </section>






  <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Pump 1</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.stan_p1_stat==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.stan_p1_stat=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.stan_p1_stat=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.stan_p1_stat=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.stan_p1_stat=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.stan_p1_stat==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.stan_p1_stat=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.stan_p1_stat=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.stan_p1_stat=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.stan_p1_stat=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p1_localremote}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p1_stat}}</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/rpm-hz.png" class="img2" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p1_vsd_actfreq}} Hz</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/kW.png" class="img2" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p1_motor_power}} kW</div>

        </div>

        <div *ngIf="controlAccess==true" >


          <div  *ngIf="stan_hawkeye_enable_control==true">

            <div style="padding-bottom: 25px;"> </div>
            <div *ngIf="pump1OnOff==true">
            <hr style="width: 300px;">
            <div class="grid-container-buttons">

            <button (click)="onP1PowerClickOn()" mat-mini-fab  class="grid-big-green-button"> <span style=" position:sticky;"> <mat-icon>power_settings_new</mat-icon></span></button>

            <div class="grid-container-batter-column3">Pump Start</div>

          <button (click)="onP1PowerClickOff()"  mat-mini-fab class="grid-big-grey-button">  <mat-icon>power_settings_new</mat-icon></button>
          <div class="grid-container-batter-column3">Pump Off</div>
        </div>
      </div>
      <div *ngIf="pump1OnOff==false">
        <hr style="width: 300px;">
        <div class="grid-container-buttons">

        <button (click)="onP1PowerClickOn()" mat-mini-fab  class="grid-big-grey-button"> <span style=" position:sticky;"> <mat-icon>power_settings_new</mat-icon></span></button>

        <div class="grid-container-batter-column3">Pump Start</div>

      <button (click)="onP1PowerClickOff()"  mat-mini-fab  class="grid-big-red-button">  <mat-icon>power_settings_new</mat-icon></button>
      <div class="grid-container-batter-column3">Pump Off</div>
    </div>
  </div>



          </div>

          </div>

        <table mat-elevation-z8 mat-table [dataSource]="dataSourceP1" matSort>

          <ng-container matColumnDef="alarm" >
            <th style=" width:40px"mat-header-cell *matHeaderCellDef mat-sort-header > INCIDENT </th>
            <td style=" width:40px"mat-cell *matCellDef="let element"> {{element.alarm}} </td>
          </ng-container>

          <ng-container matColumnDef="description" >
            <th style=" padding-left: 30px;"mat-header-cell *matHeaderCellDef mat-sort-header > DESCRIPTION </th>
            <td style=" padding-left: 30px;"mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <tr style="width:20px" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <br>
        </div>
      </form>



  </section>


   <!-- //////////////////////////////////////////////////////////////////////////////////////////////// Pump 2 -->


  <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Pump 2</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.stan_p2_stat==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.stan_p2_stat=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.stan_p2_stat=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.stan_p2_stat=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.stan_p2_stat=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.stan_p2_stat==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.stan_p2_stat=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.stan_p2_stat=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.stan_p2_stat=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.stan_p2_stat=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p2_localremote}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p2_stat}}</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/rpm-hz.png" class="img2" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p2_vsd_actfreq}} Hz</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/kW.png" class="img2" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p2_motor_power}} kW</div>
        </div>

        <div *ngIf="controlAccess==true" >


          <div  *ngIf="stan_hawkeye_enable_control==true">

            <div style="padding-bottom: 25px;"> </div>
            <div *ngIf="pump2OnOff==true">
            <hr style="width: 300px;">
            <div class="grid-container-buttons">

            <button (click)="onP2PowerClickOn()" mat-mini-fab  class="grid-big-green-button"> <span style=" position:sticky;"> <mat-icon>power_settings_new</mat-icon></span></button>

            <div class="grid-container-batter-column3">Pump Start</div>

          <button (click)="onP2PowerClickOff()"  mat-mini-fab class="grid-big-grey-button">  <mat-icon>power_settings_new</mat-icon></button>
          <div class="grid-container-batter-column3">Pump Off</div>
        </div>
      </div>
      <div *ngIf="pump2OnOff==false">
        <hr style="width: 300px;">
        <div class="grid-container-buttons">

        <button (click)="onP2PowerClickOn()" mat-mini-fab  class="grid-big-grey-button"> <span style=" position:sticky;"> <mat-icon>power_settings_new</mat-icon></span></button>

        <div class="grid-container-batter-column3">Pump Start</div>

      <button (click)="onP2PowerClickOff()"  mat-mini-fab  class="grid-big-red-button">  <mat-icon>power_settings_new</mat-icon></button>
      <div class="grid-container-batter-column3">Pump Off</div>
    </div>
  </div>



          </div>

          </div>

        <table mat-elevation-z8 mat-table [dataSource]="dataSourceP2" matSort>

          <ng-container matColumnDef="alarm" >
            <th style=" width:40px"mat-header-cell *matHeaderCellDef mat-sort-header > INCIDENT </th>
            <td style=" width:40px"mat-cell *matCellDef="let element"> {{element.alarm}} </td>
          </ng-container>

          <ng-container matColumnDef="description" >
            <th style=" padding-left: 30px;"mat-header-cell *matHeaderCellDef mat-sort-header > DESCRIPTION </th>
            <td style=" padding-left: 30px;"mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <tr style="width:20px" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <br>
        </div>
      </form>



  </section>


   <!-- //////////////////////////////////////////////////////////////////////////////////////////////// Pump 3  -->

  <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Pump 3</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.stan_p3_stat==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.stan_p3_stat=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.stan_p3_stat=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.stan_p3_stat=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.stan_p3_stat=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.stan_p3_stat==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.stan_p3_stat=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.stan_p3_stat=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.stan_p3_stat=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.stan_p3_stat=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p3_localremote}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p3_stat}}</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/rpm-hz.png" class="img2" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p3_vsd_actfreq}} Hz</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/kW.png" class="img2" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p3_motor_power}} kW</div>
        </div>

        <div *ngIf="controlAccess==true" >


          <div  *ngIf="stan_hawkeye_enable_control==true">

            <div style="padding-bottom: 25px;"> </div>
            <div *ngIf="pump3OnOff==true">
            <hr style="width: 300px;">
            <div class="grid-container-buttons">

            <button (click)="onP3PowerClickOn()" mat-mini-fab  class="grid-big-green-button"> <span style=" position:sticky;"> <mat-icon>power_settings_new</mat-icon></span></button>

            <div class="grid-container-batter-column3">Pump Start</div>

          <button (click)="onP3PowerClickOff()"  mat-mini-fab class="grid-big-grey-button">  <mat-icon>power_settings_new</mat-icon></button>
          <div class="grid-container-batter-column3">Pump Off</div>
        </div>
      </div>
      <div *ngIf="pump3OnOff==false">
        <hr style="width: 300px;">
        <div class="grid-container-buttons">

        <button (click)="onP3PowerClickOn()" mat-mini-fab  class="grid-big-grey-button"> <span style=" position:sticky;"> <mat-icon>power_settings_new</mat-icon></span></button>

        <div class="grid-container-batter-column3">Pump Start</div>

      <button (click)="onP3PowerClickOff()"  mat-mini-fab  class="grid-big-red-button">  <mat-icon>power_settings_new</mat-icon></button>
      <div class="grid-container-batter-column3">Pump Off</div>
    </div>
  </div>



          </div>

          </div>
        <table mat-elevation-z8 mat-table [dataSource]="dataSourceP3" matSort>

          <ng-container matColumnDef="alarm" >
            <th style=" width:40px"mat-header-cell *matHeaderCellDef mat-sort-header > INCIDENT </th>
            <td style=" width:40px"mat-cell *matCellDef="let element"> {{element.alarm}} </td>
          </ng-container>

          <ng-container matColumnDef="description" >
            <th style=" padding-left: 30px;"mat-header-cell *matHeaderCellDef mat-sort-header > DESCRIPTION </th>
            <td style=" padding-left: 30px;"mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <tr style="width:20px" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <br>
        </div>
      </form>



  </section>


   <!-- //////////////////////////////////////////////////////////////////////////////////////////////// Pump 4 -->

  <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Pump 4</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.stan_p4_stat==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.stan_p4_stat=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.stan_p4_stat=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.stan_p4_stat=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.stan_p4_stat=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.stan_p4_stat==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.stan_p4_stat=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.stan_p4_stat=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.stan_p4_stat=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.stan_p4_stat=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p4_localremote}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p4_stat}}</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/rpm-hz.png" class="img2" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p4_vsd_actfreq}} Hz</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/kW.png" class="img2" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.stan_p4_motor_power}} kW</div>
        </div>

        <div *ngIf="controlAccess==true" >


          <div  *ngIf="stan_hawkeye_enable_control==true">

            <div style="padding-bottom: 25px;"> </div>
            <div *ngIf="pump4OnOff==true">
            <hr style="width: 300px;">
            <div class="grid-container-buttons">

            <button (click)="onP4PowerClickOn()" mat-mini-fab  class="grid-big-green-button"> <span style=" position:sticky;"> <mat-icon>power_settings_new</mat-icon></span></button>

            <div class="grid-container-batter-column3">Pump Start</div>

          <button (click)="onP4PowerClickOff()"  mat-mini-fab class="grid-big-grey-button">  <mat-icon>power_settings_new</mat-icon></button>
          <div class="grid-container-batter-column3">Pump Off</div>
        </div>
      </div>
      <div *ngIf="pump4OnOff==false">
        <hr style="width: 300px;">
        <div class="grid-container-buttons">

        <button (click)="onP4PowerClickOn()" mat-mini-fab  class="grid-big-grey-button"> <span style=" position:sticky;"> <mat-icon>power_settings_new</mat-icon></span></button>

        <div class="grid-container-batter-column3">Pump Start</div>

      <button (click)="onP4PowerClickOff()"  mat-mini-fab  class="grid-big-red-button">  <mat-icon>power_settings_new</mat-icon></button>
      <div class="grid-container-batter-column3">Pump Off</div>
    </div>
  </div>



          </div>

          </div>

        <table mat-elevation-z8 mat-table [dataSource]="dataSourceP4" matSort>

          <ng-container matColumnDef="alarm" >
            <th style=" width:40px"mat-header-cell *matHeaderCellDef mat-sort-header > INCIDENT </th>
            <td style=" width:40px"mat-cell *matCellDef="let element"> {{element.alarm}} </td>
          </ng-container>

          <ng-container matColumnDef="description" >
            <th style=" padding-left: 30px;"mat-header-cell *matHeaderCellDef mat-sort-header > DESCRIPTION </th>
            <td style=" padding-left: 30px;"mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <tr style="width:20px" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <br>
        </div>
      </form>



  </section>
</app-page-with-two-trends>