<app-page-with-two-trends [siteTitle]="siteTitle" [options]="options1" [options2]="options2" (messageEvent)="recieveDate($event)" [isLoading]=isLoading >


  <app-panel [title] = commsTitle>


    <app-comms-panel [lastUpdate] =variable.lastupdate  [communicationStatus]=variable.comms [batteryUnit]=variable.battery_status>
    
    
    </app-comms-panel>
    
    
    </app-panel>

      <div class="vertical-form">
        <section class="res-form" fxLayoutAlign="center ">
          <form fxLayout="column">
            <div style="margin-bottom: 8px"  class="div-form">
              <h3 style="padding-top: 8px; ">Status</h3></div>

              <div class="div-form">
                <div class="grid-container-general">
  
              <div class="grid-container-column-1"><img src="assets/img/Symbol/FM.png" class="img3"></div>
              <div class="grid-container-column-3">{{variable.flowrate1}} Ml/d</div>
              <div class="grid-container-column-1">Total Flow:</div>
              <div class="grid-container-column-3">{{variable.flowtotal1}} Ml</div>
              <div class="grid-container-column-1"><img src="assets/img/Symbol/bar.png" class="img2"></div>
              <div class="grid-container-column-3">{{variable.pressure1}} bar</div>
              </div>
              </div>
              </form>
              </section>
              </div>



</app-page-with-two-trends>