<app-page-with-two-trends [siteTitle]="siteTitle"  (messageEvent)="recieveDate($event)" [isLoading]=isLoading [options]="options1" [options2]="options2"[trendNameTwo]="options2Name">
  <section class="ground-form" fxLayoutAlign="center">

    <form fxLayout="column">

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Communication</h3>
      </div>

  <div class="div-form">
    <div class="grid-container-communicationStatus">

      <div class="grid-container-communicationStatus-column1">Communication Status:</div>
      <div *ngIf="variable.comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
        <img  src="assets/img/General/Green Circle Tick.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px">
        </div>
        <div *ngIf="variable.comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px" >
         <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img">
         </div>
      <div class="grid-container-communicationStatus-column1">Last Update:</div>
      <div class="grid-container-communicationStatus-column3">{{variable.gw_klm_kruis14_UT}}</div>
    </div>
      <section class="basic-grid" style="margin:auto;">
        <div *ngIf="showGW12 == 'true'" class="grid-button">
          <button class="button-color" a routerLink="/hawkeye/groundwater/kruisfontein-gw12" style="height: 28px;" >12</button></div>





          <div *ngIf="showGW13 == 'true'" class="grid-button">
            <button class="button-color" a routerLink="/hawkeye/groundwater/kruisfontein-gw13" style="height: 28px;"  >13</button></div>

            <div *ngIf="showR == 'true'" class="grid-button">
              <button class="button-color" a routerLink="/hawkeye/reservoirs/kruisfontein-r" style="height: 28px;"  >Reservoir</button></div>

          </section>

          <br>

</div>

    </form>
    </section>

    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">General</h3>
        </div>
    <div class="div-form">



      <div class="grid-container-general">
        <div class="grid-container-general-column1">Number of starts: </div>
        <div class="grid-container-general-column3" >{{variable.gw_klm_kruis14_number_of_starts}}</div>

        <div  class="grid-container-general-column1">Run Hours: </div>
        <div class="grid-container-general-column3">{{variable.gw_klm_kruis14_run_hours}}  Hours</div>
        <div class="grid-container-general-column1">Control Mode: </div>
        <div class="grid-container-general-column3" >{{variable.gw_klm_kruis14_control_mode}} </div>
        <div class="grid-container-general-column1">Target Flow: </div>
        <div class="grid-container-general-column3" >{{variable.gw_klm_kruis14_target_flow}} l/s</div>
        <div class="grid-container-general-column1">Target Frequincy: </div>
        <div class="grid-container-general-column3" >{{variable.gw_klm_kruis14_target_freq}} Hz</div>


        <div class="grid-container-general-column1">&nbsp;</div>
        <div class="grid-container-general-column3" >&nbsp;</div>

      </div>

      <!-- <table mat-elevation-z8 mat-table [dataSource]="generalfaultdatasource" matSort>

        <ng-container matColumnDef="alarm" >
          <th style=" width:40px"mat-header-cell *matHeaderCellDef mat-sort-header > INCIDENT </th>
          <td style=" width:40px"mat-cell *matCellDef="let element"> {{element.alarm}} </td>
        </ng-container>

        <ng-container matColumnDef="description" >
          <th style=" padding-left: 30px;"mat-header-cell *matHeaderCellDef mat-sort-header > DESCRIPTION </th>
          <td style=" padding-left: 30px;"mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <tr style="width:20px" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
<br> -->
    </div>

    </form>
    </section>


    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Pump</h3>
        </div>
    <div class="div-form">



            <div class="grid-container-pump">

              <!-- First Column -->

                <!-- Padding is within appropraite use because it is padding to a fixed item, meaning it won't change it's position when the website loads -->
                <!-- <div class="grid-image"><img src="assets/img/Pump/Borehole Pump Black.png" style="width:30px; height:180px;"   ></div> -->

                <div *ngIf="theme=='light-theme'"  class="grid-image">
                  <div class="grid-image"  *ngIf="variable.gw_klm_kruis14_status==undefined"><img   src="assets/img/Pump/Borehole Pump Grey.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image"  *ngIf="variable.gw_klm_kruis14_status=='Running'" ><img  src="assets/img/Pump/Borehole Pump Green.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image"  *ngIf="variable.gw_klm_kruis14_status=='Interlocked'" ><img  src="assets/img/Pump/Borehole Pump Red.png"  style="width:30px; height:180px;" ></div>
                  <div class="grid-image"  *ngIf="variable.gw_klm_kruis14_status=='Available'" ><img  src="assets/img/Pump/Borehole Pump Black.png"  style="width:30px; height:180px;" ></div>
                  <div class="grid-image"  *ngIf="variable.gw_klm_kruis14_status=='Not Available'" ><img  src="assets/img/Pump/Borehole Pump Grey.png" style="width:30px; height:180px;" ></div>
                </div>

                <div *ngIf="theme=='dark-theme'" class="grid-image">
                  <div class="grid-image" *ngIf="variable.gw_klm_kruis14_status==undefined"><img   src="assets/img/Pump/Borehole Pump Grey.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image" *ngIf="variable.gw_klm_kruis14_status=='Running'" ><img  src="assets/img/Pump/Borehole Pump Green.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image" *ngIf="variable.gw_klm_kruis14_status=='Interlocked'" ><img  src="assets/img/Pump/Borehole Pump Red.png"  style="width:30px; height:180px;"></div>
                  <div class="grid-image" *ngIf="variable.gw_klm_kruis14_status=='Available'" ><img  src="assets/img/Pump/Borehole Pump White.png"  style="width:30px; height:180px;" ></div>
                  <div class="grid-image" *ngIf="variable.gw_klm_kruis14_status=='Not Available'" ><img  src="assets/img/Pump/Borehole Pump Grey.png"  style="width:30px; height:180px;" ></div>
                </div>



              <!-- First and Second Column -->


                <div class="grid-container-pump-column2">Mode:</div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis14_mode}}</div>
                <div class="grid-container-pump-column2">Status:</div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis14_status}}</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/LVL.png" class="img2" ></div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis14_lvl}} m</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/rpm-hz.png" class="img2" ></div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis14_vsd}} Hz</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/bar.png" class="img2"></div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis14_bar}} bar</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/FM.png" class="img2"></div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis14_flow_rate}} l/s</div>

                <div class="grid-container-pump-column2">Total Flow: </div>
                <div class="grid-container-pump-column4" >{{variable.gw_klm_kruis14_TF}} m³</div>
            </div>


            <app-alarms [dataSource]="dataSourceP1"></app-alarms>


            <br>



</div>
      </form>
      </section>

      <section class="ground-form" fxLayoutAlign="center">

        <form fxLayout="column">

          <div style="margin-bottom: 8px"  class="div-form">
            <h3 style="padding-top: 8px; ">Power</h3>
          </div>
      <div class="div-form">

        <div class="grid-container-power">

          <div class="grid-container-power-column1"><img src="assets/img/Symbol/V.png" class="img2"></div>
          <div class="grid-container-power-column3">{{variable.gw_klm_kruis14_voltage}} V</div>
          <div class="grid-container-power-column1"><img src="assets/img/Symbol/vsdCurrent.png" class="img2"></div>
          <div class="grid-container-power-column3">{{variable.gw_klm_kruis14_current}} A</div>
          <div class="grid-container-power-column1"><img src="assets/img/Symbol/kW.png" class="img2"></div>
          <div class="grid-container-power-column3">{{variable.gw_klm_kruis14_power}} kW</div>
          <div class="grid-container-power-column1">Total Power:</div>
          <div class="grid-container-power-column3">{{variable.gw_klm_kruis14_total_power}} kWh</div>
          <div class="grid-container-power-column1"></div>
          <div class="grid-container-power-column3"></div>
          </div>








  </div>
        </form>
        </section>


</app-page-with-two-trends>