<div style="background-color: var(--page-background-color);">
  <div class="div-heading-title"><h1 style="padding-top: 8px;">Driftsands</h1></div>
  <div class="wrapper-grid">



      <section class="res-form" fxLayoutAlign="center ">
        <form fxLayout="column">
          <div style="margin-bottom: 8px"  class="div-form">
            <h3 style="padding-top: 8px; ">Communication</h3></div>

            <div class="div-form">
              <div class="grid-container-flow-meters-communication">
                <div class="grid-container-communication-general-column1">Communication Status:</div>
                <!-- <div class="grid-container-flow-meters-general-column3" style=""> -->
                <div *ngIf="comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
                <div class="grid-container-communicationStatus-column3-img"><img  src="assets/img/General/Green Circle Tick.png" style="width:20px; height:20px; padding-top:2px"></div>
                  </div>
                  <div *ngIf="comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" >
                   <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img" style="width:20px; height:20px; padding-top:2px">
                   </div>
                   <div class="grid-container-communication-general-column1">Last Update:</div>
                   <div class="grid-container-communication-general-column3">{{drift_r_ut}}</div>



                </div>

            </div>
            </form>
            </section>


<section class="res-form" fxLayoutAlign="center">

  <form fxLayout="column">
    <div style="margin-bottom: 8px"  class="div-form">
      <h3 style="padding-top: 8px; ">Alarm</h3>
    </div>

    <div class="div-form">
      <div class="grid-container-flow-meters-general">
        <div class="grid-container-flow-meters-general-column1">Pepper Spray Gas Left </div>
        <div class="grid-container-flow-meters-general-column3"> {{drift_r_pepper_spray_gas_left}} s </div>
        <div class="grid-container-flow-meters-general-column1">Pepper Spray Battery Voltage:</div>
        <div class="grid-container-flow-meters-general-column3">{{drift_r_pepper_spray_battery_voltage}} V </div>
        <div class="grid-container-flow-meters-general-column1">Alarm Status:</div>
        <div class="grid-container-flow-meters-general-column3">{{drift_r_alarm_armed}}  </div>
        <div class="grid-container-flow-meters-general-column1">Pepper Spray Status:</div>
        <div class="grid-container-flow-meters-general-column3">{{drift_r_pepper_spray_armed}}  </div>
      </div>
        <table mat-elevation-z8 mat-table [dataSource]="generalfaulttabledatasource" matSort>

        <ng-container matColumnDef="alarm" >
          <th style=" width:40px"mat-header-cell *matHeaderCellDef mat-sort-header > INCIDENT </th>
          <td style=" width:40px"mat-cell *matCellDef="let element"> {{element.alarm}} </td>
        </ng-container>

        <ng-container matColumnDef="description" >
          <th style=" padding-left: 30px;"mat-header-cell *matHeaderCellDef mat-sort-header > DESCRIPTION </th>
          <td style=" padding-left: 30px;"mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <tr style="width:20px" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <br>


    </div>


  </form>




</section>




            <section class="res-form" fxLayoutAlign="center">

              <form fxLayout="column">

                <div style="margin-bottom: 8px"  class="div-form">
                  <h3 style="padding-top: 8px; ">Reservoir</h3>
                </div>


            <div class="div-form">


              <br>
            <div fxLayoutAlign="center " > <div class="circle1">
              <div  class="circle2-b"><div [ngStyle]="{'height.%' : 100-drift_r_reservoir_level }" class="fill"><div class="lvl-font">{{drift_r_reservoir_level}}%</div></div></div>
            </div>
            </div>
            <br>


            </div>
              </form>
      </section>



<section class="res-form" fxLayoutAlign="center">

  <form fxLayout="column">
    <div style="margin-bottom: 8px"  class="div-form">
      <h3 style="padding-top: 8px; ">Flow Meter</h3>
    </div>

    <div class="div-form">
      <div class="grid-container-flow-meters-general">
        <div class="grid-span-3">Flow Rate 1</div>
        <div class="grid-container-flow-meters-general-column1"><img src="assets/img/Symbol/FM.png" class="img3"></div>
        <div class="grid-container-flow-meters-general-column3"> {{drift_r_flow_rate_1}} l/s</div>
        <div class="grid-container-flow-meters-general-column1">Total Flow:</div>
        <div class="grid-container-flow-meters-general-column3">{{drift_r_total_flow_1}} Ml </div>
        <div class="grid-container-flow-meters-general-column1">&nbsp;</div><div class="grid-container-flow-meters-general-column3">&nbsp; </div>
        <div class="grid-span-3">Flow Rate 2</div>
        <div class="grid-container-flow-meters-general-column1"><img src="assets/img/Symbol/FM.png" class="img3"></div>
        <div class="grid-container-flow-meters-general-column3"> {{drift_r_flow_rate_2}} l/s </div>
        <div class="grid-container-flow-meters-general-column1">Total Flow:</div>
        <div class="grid-container-flow-meters-general-column3">{{drift_r_total_flow_2}} Ml </div>


    </div>
    </div>


  </form>




</section>





     </div>

     </div>






