
<div class="div-heading-title"><h1 style="padding-top: 8px; ">Home</h1></div>

<br>




  <br>
  <h2 style="text-align:center;"> Welcome {{firstName}} {{secondName}}</h2>


  <!-- <section *ngIf="firstName=='Admin'"fxLayoutAlign="center " >

    <form fxLayout="column" style="text-align:center;" >

  <div style="margin-bottom: 1px"  >
    <button (click)="getGPSLocation()"mat-flat-button primary color="primary">Get GPS Location</button>
    <br>
    <br>
    <p>Latitude: {{latitude}}</p>
    <p>Longitude: {{longitude}}</p>
  </div> -->


