<app-page-with-trend [siteTitle]="siteTitle"  (messageEvent)="recieveDate($event)" [isLoading]=isLoading [options]="options1">

  <section class="ground-form" fxLayoutAlign="center">

    <form fxLayout="column">

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Communication</h3>
      </div>

  <div class="div-form">
    <div class="grid-container-communicationStatus">

      <div class="grid-container-communicationStatus-column1">Communication Status:</div>
      <div *ngIf="variable.comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
        <img  src="assets/img/General/Green Circle Tick.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px">
        </div>
        <div *ngIf="variable.comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px" >
         <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img">
         </div>
      <div class="grid-container-communicationStatus-column1">Last Update:</div>
      <div class="grid-container-communicationStatus-column3">{{variable.hup4_ut}}</div>

</div>
<section class="basic-grid" style="margin:auto;">
  <div *ngIf="show1 == true" class="grid-button">
    <button class="button-color" a routerLink="/hawkeye/groundwater/humansdorp" style="height: 28px;" >1</button></div>

  <div *ngIf="show2 == true" class="grid-button">
    <button class="button-color" a routerLink="/hawkeye/groundwater/humansdorp2" style="height: 28px;"  >2</button></div>

    <div *ngIf="show3 == true" class="grid-button">
      <button class="button-color" a routerLink="/hawkeye/groundwater/humansdorp3" style="height: 28px;"  >3</button></div>

    <div *ngIf="show6 == true" class="grid-button">
      <button class="button-color" a routerLink="/hawkeye/groundwater/humansdorp6" style="height: 28px;"  >6</button></div>

  </section>
  <br>
</div>

    </form>
    </section>
    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Pump</h3>
        </div>
    <div class="div-form">



            <div class="grid-container-pump">

              <!-- First Column -->

                <!-- Padding is within appropraite use because it is padding to a fixed item, meaning it won't change it's position when the website loads -->
                <!-- <div class="grid-image"><img src="assets/img/Pump/Borehole Pump Black.png" style="width:30px; height:180px;"   ></div> -->

                 <div *ngIf="theme=='light-theme'"  class="grid-image">
                  <div class="grid-image"  *ngIf="variable.hup4_pump_mode==null"><img   src="assets/img/Pump/Borehole Pump Black.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image"  *ngIf="variable.hup4_pump_mode=='Pump Running'" ><img  src="assets/img/Pump/Borehole Pump Green.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image"  *ngIf="variable.hup4_pump_mode=='Pump Fault'" ><img  src="assets/img/Pump/Borehole Pump Red.png"  style="width:30px; height:180px;" ></div>
                  <div class="grid-image"  *ngIf="variable.hup4_pump_mode=='Available'" ><img  src="assets/img/Pump/Borehole Pump Black.png"  style="width:30px; height:180px;" ></div>
                  <div class="grid-image"  *ngIf="variable.hup4_pump_mode=='Not Available'" ><img  src="assets/img/Pump/Borehole Pump Grey.png" style="width:30px; height:180px;" ></div>
                </div>

                <div *ngIf="theme=='dark-theme'" class="grid-image">
                  <div class="grid-image" *ngIf="variable.hup4_pump_mode==undefined"><img   src="assets/img/Pump/Borehole Pump White.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image" *ngIf="variable.hup4_pump_mode=='Pump Running'" ><img  src="assets/img/Pump/Borehole Pump Green.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image" *ngIf="variable.hup4_pump_mode=='Pump Fault'" ><img  src="assets/img/Pump/Borehole Pump Red.png"  style="width:30px; height:180px;"></div>
                  <div class="grid-image" *ngIf="variable.hup4_pump_mode=='Available'" ><img  src="assets/img/Pump/Borehole Pump White.png"  style="width:30px; height:180px;" ></div>
                  <div class="grid-image" *ngIf="variable.hup4_pump_mode=='Not Available'" ><img  src="assets/img/Pump/Borehole Pump Grey.png"  style="width:30px; height:180px;" ></div>
                </div>



              <!-- First and Second Column -->


                <div class="grid-container-pump-column2">Mode:</div>
                <div class="grid-container-pump-column4">{{variable.hup4_mode}}</div>
                <div class="grid-container-pump-column2">Status:</div>
                <div class="grid-container-pump-column4">{{variable.hup4_pump_mode}}</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/LVL.png" class="img2" ></div>
                <div class="grid-container-pump-column4">{{variable.hup4_borehole_lvl}} m</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/FM.png" class="img2"></div>
                <div class="grid-container-pump-column4">{{variable.hup4_flow_rate}} l/s</div>
                <div class="grid-container-pump-column2">Total Flow:</div>
                <div class="grid-container-pump-column4">{{variable.hup4_total_flow}} m³</div>
                <div class="grid-container-pump-column2">Timer Status:</div>
                <div class="grid-container-pump-column4">{{variable.hup4_pump_timer}}</div>
                <div class="grid-container-pump-column2">Run Hours:</div>
                <div class="grid-container-pump-column4">{{variable.hup4_run_hours}} h</div>
                <div class="grid-container-pump-column2">Number of Stops:</div>
                <div class="grid-container-pump-column4">{{variable.klm_hup4_num_o_stops}}</div>

            </div>



            <app-alarms [dataSource]="generalfaultdatasource"></app-alarms>


            <br>



</div>
      </form>
      </section>

</app-page-with-trend>