<br>
<br>
<br>


<div class="container">


  <hr>

  <div class="row">
    <span class="col-md-6">
      <span
      (colorPickerChange)="onColorChange($event)"

      [(colorPicker)]="colorList[0].value"
      [cpOKButton] = "true"
      [cpOKButtonText] = "'Submit'"
      [cpCancelButton] = "true"
      [cpDisableInput]="false"
      [cpAlphaChannel]="'disabled'"
      [cpOutputFormat]="'hex'"
      [cpPresetColors]="presetValues"
      [cpAddColorButton]="true"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="200px" viewBox="0 0 100 600" version="1.1">
        <path [attr.d]="groundImage" stroke="none" [attr.fill]="colorList[0].value" fill-rule="evenodd"/>
      </svg>
    </span>



      </span>

      </div>

      </div>



