<div style="background-color: var(--page-background-color);">
  <div class="div-heading-title"><h1 style="padding-top: 8px; ">NMU Effluent</h1></div>
  <div class="wrapper-grid">

    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Communication</h3>
        </div>

    <div class="div-form">
      <div class="grid-container-flow-meters-communication">

        <div class="grid-container-communicationStatus-column1">Communication Status:</div>
        <div *ngIf="variable.comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
          <img  src="assets/img/General/Green Circle Tick.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3; padding-top: 5px;">
          </div>
          <div *ngIf="variable.comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;  padding-top: 5px;">
           <img src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img">
           </div>

        <div class="grid-container-communicationStatus-column1">Last Update:</div>
        <div class="grid-container-communicationStatus-column3">{{variable.nmu_eff_ps_ut}}</div>

  </div>

  </div>
  </form>
  </section>

  <section class="ground-form" fxLayoutAlign="center">

    <form fxLayout="column">

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">General</h3>
      </div>

  <div class="div-form">
    <div class="grid-container-flow-meters-general">

      <div class="grid-container-general-column1">Delivery</div><div class="grid-container-general-column2"> <img src="assets/img/Symbol/bar.png" class="img3" ></div>
      <div class="grid-container-general-column4">{{variable.nmu_eff_ps_del_press}} bar</div>
      <div class="grid-container-general-column2"><img src="assets/img/Symbol/FM.png" class="img3"> </div>
      <div class="grid-container-general-column4">{{variable.nmu_eff_ps_fr}} l/s</div>

      <div class="grid-container-general-column1-span-2-columns">Total Flow:</div>
      <div class="grid-container-general-column4">{{variable.nmu_eff_ps_tnf}} Ml</div>
      <div class="grid-container-general-column1-span-2-columns">Flood Alarm:</div>
    <div class="grid-container-general-column4">
      <div *ngIf="variable.nmu_eff_ps_flood_alarm==1" class="grid-column-1" ><div class="grid-container-general-img-red"></div></div>
      <div *ngIf="variable.nmu_eff_ps_flood_alarm==0" class="grid-column-1"  ><div class="grid-container-general-img-grey"></div></div></div>


  </div>
  </div>
  </form>
  </section>



   <section class="ps-form" fxLayoutAlign="center " >
    <form fxLayout="column">
      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Dam Level</h3>
      </div>
  <div class="div-form">

  <br>
  <div fxLayoutAlign="center " > <div class="circle1">
    <div class="circle2"><div [ngStyle]="{'height.%' : 100-variable.nmu_eff_ps_dam_lvl }" class="fill"><div class="lvl-font">{{variable.nmu_eff_ps_dam_lvl}}%</div></div></div>
  </div>
  </div>
  <br>
  </div>
    </form>
    </section>

   <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

   <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Jockey Pump</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.nmu_eff_p4_status==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.nmu_eff_p4_status=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.nmu_eff_p4_status=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.nmu_eff_p4_status=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.nmu_eff_p4_status=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.nmu_eff_p4_status==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.nmu_eff_p4_status=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.nmu_eff_p4_status=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.nmu_eff_p4_status=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.nmu_eff_p4_status=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p4_mode}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p4_status}}</div>
    <div class="grid-pumpstation-column2-right-align">Run Hours:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p4_rh}} h</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/rpm-hz.png" class="img3" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p4_speed}} Hz</div>
        </div>


        <app-alarms [dataSource]="dataSourceP4"></app-alarms>

        <br>
        </div>
      </form>



  </section>


   <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
   <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Pump 1</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.nmu_eff_p1_status==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.nmu_eff_p1_status=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.nmu_eff_p1_status=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.nmu_eff_p1_status=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.nmu_eff_p1_status=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.nmu_eff_p1_status==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.nmu_eff_p1_status=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.nmu_eff_p1_status=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.nmu_eff_p1_status=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.nmu_eff_p1_status=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p1_mode}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p1_status}}</div>
    <div class="grid-pumpstation-column2-right-align">Run Hours:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p1_rh}} h</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/rpm-hz.png" class="img3" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p1_speed}} Hz</div>
        </div>

        <app-alarms [dataSource]="dataSourceP1"></app-alarms>

        <br>
        </div>
      </form>



  </section>

  <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Pump 2</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.nmu_eff_p2_status==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.nmu_eff_p2_status=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.nmu_eff_p2_status=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.nmu_eff_p2_status=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.nmu_eff_p2_status=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.nmu_eff_p2_status==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.nmu_eff_p2_status=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.nmu_eff_p2_status=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.nmu_eff_p2_status=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.nmu_eff_p2_status=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p2_mode}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p2_status}}</div>
    <div class="grid-pumpstation-column2-right-align">Run Hours:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p2_rh}} h</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/rpm-hz.png" class="img3" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p2_speed}} Hz</div>
        </div>

        <app-alarms [dataSource]="dataSourceP2"></app-alarms>

        <br>
        </div>
      </form>



  </section>


   <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Pump 3</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.nmu_eff_p3_status==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.nmu_eff_p3_status=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.nmu_eff_p3_status=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.nmu_eff_p3_status=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.nmu_eff_p3_status=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.nmu_eff_p3_status==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.nmu_eff_p3_status=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.nmu_eff_p3_status=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.nmu_eff_p3_status=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.nmu_eff_p3_status=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p3_mode}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p3_status}}</div>
    <div class="grid-pumpstation-column2-right-align">Run Hours:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p3_rh}} h</div>
    <div class="grid-pumpstation-column2-right-align"><img src="assets/img/Symbol/rpm-hz.png" class="img3" ></div>
    <div class="grid-pumpstation-column3-left-align">{{variable.nmu_eff_p3_speed}} Hz</div>
        </div>

        <app-alarms [dataSource]="dataSourceP3"></app-alarms>

        <br>
        </div>
      </form>



  </section>





 </div>
 </div>
