<app-page-with-trend [siteTitle]="siteTitle" [options]="options" (messageEvent)="recieveDate($event)" [isLoading]=isLoading>

    <section class="res-form" fxLayoutAlign="center ">
      <form fxLayout="column">
        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Communication </h3></div>


          <div class="div-form">
            <div class="grid-container-flow-meters-communication">
              <div class="grid-container-flow-meters-general-column1">Communication Status:</div>
              <!-- <div class="grid-container-flow-meters-general-column3" style=""> -->
              <div *ngIf="comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
              <div class="grid-container-communicationStatus-column3-img"><img  src="assets/img/General/Green Circle Tick.png" style="width:20px; height:20px; padding-top:5px"></div>
                </div>
                <div *ngIf="comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" >
                 <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img" style="width:20px; height:20px; padding-top:5px">
                 </div>

              <div class="grid-container-flow-meters-general-column1">Last Update:</div>
              <div class="grid-container-flow-meters-general-column3">{{variable.bh_R_UT}}</div>

              <div *ngIf="showNavigationButton == 'true'"  class="grid-container-flow-meters-general-column1"></div>
              <div *ngIf="showNavigationButton == 'true'"  class="grid-container-flow-meters-general-column3"></div>

              <div *ngIf="showNavigationButton == 'true'" class="grid-button">
                <button class="button-color" a routerLink="/hawkeye/pumpstations/bluehorizonbay"  >Pumpstation</button></div>
      </div>


              </div>


              </form>
              </section>

     <section class="res-form" fxLayoutAlign="center ">
       <form fxLayout="column">
         <div style="margin-bottom: 8px"  class="div-form">
           <h3 style="padding-top: 8px; ">Reservoir</h3></div>


                    <div class="div-form">
                      <br>


                <div fxLayoutAlign="center " > <div class="circle1">
                  <div class="circle2-b"><div [ngStyle]="{'height.%' : 100- variable.bh_R_LVL }" class="fill"><div class="lvl-font">{{variable.bh_R_LVL}}%</div></div></div>
                </div>
                </div>
                <div class="grid-container-flow-meters-res">
                <div class="grid-container-flow-meters-general-column1">&nbsp;</div>
                <div class="grid-container-flow-meters-general-column3">&nbsp;</div>
                <div class="grid-container-flow-meters-general-column1">Reservoir High Float:</div>
                <div class="grid-container-flow-meters-general-column3">
                  <div >
                    <div class="led-box" *ngIf="variable.bh_R_STOP_FLOAT==1" ><div class="led-green"></div></div>
                    <div class="led-box" *ngIf="variable.bh_R_STOP_FLOAT==0" ><div class="led-grey"></div></div>
                </div></div>

                <div class="grid-container-flow-meters-general-column1">Reservoir Low Float:</div>
                <div class="grid-container-flow-meters-general-column3"><div>
                  <div class="led-box" *ngIf="variable.bh_R_STOP_FLOAT==0" ><div class="led-green"></div></div>
                  <div class="led-box" *ngIf="variable.bh_R_START_FLOAT==1" ><div class="led-red"></div></div>
              </div></div>
                <div class="grid-container-flow-meters-general-column1">Surge Arrester:</div>
                <div class="grid-container-flow-meters-general-column3"><div>
                  <div class="led-box" *ngIf="variable.bh_R_SURGE_ARRESTOR==0" ><div class="led-green"></div></div>
                  <div class="led-box" *ngIf="variable.bh_R_SURGE_ARRESTOR==1" ><div class="led-red"></div></div>
              </div></div>
                <div class="grid-container-flow-meters-general-column1">Charger Status:</div>
                <div class="grid-container-flow-meters-general-column3">
                  <div>
                    <div class="led-box" *ngIf="variable.bh_R_CHARGER_STATUS==0" ><div class="led-green"></div></div>
                    <div class="led-box" *ngIf="variable.bh_R_CHARGER_STATUS==1" ><div class="led-red"></div></div>
                </div></div>
                <div class="grid-container-flow-meters-general-column1">Door:</div>
                <div class="grid-container-flow-meters-general-column3">
                  <div  *ngIf="variable.bh_R_DOOR==1" >Closed</div>
                <div *ngIf="variable.bh_R_DOOR==0" >Open</div>
              </div>

              </div>
              </div>


          </form>
      </section>


</app-page-with-trend>