<div style="background-color: var(--page-background-color);">
  <div class="div-heading-title"><h1 style="padding-top: 8px; ">Buffelsfontein</h1></div>
  <div class="wrapper-grid">



    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Communication</h3>
        </div>

    <div class="div-form">
      <div class="grid-container-flow-meters-communication">

        <div class="grid-container-communicationStatus-column1">Communication Status:</div>
        <div *ngIf="comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
          <img  src="assets/img/General/Green Circle Tick.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3; padding-top: 5px;">
          </div>
          <div *ngIf="comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" style="grid-column: 3; padding-top: 5px;" >
           <img src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img">
           </div>

        <div class="grid-container-communicationStatus-column1">Last Update:</div>
        <div class="grid-container-communicationStatus-column3">{{variable.bf_PS_UT}}</div>

  </div>

  </div>
  </form>
  </section>

  <section class="ground-form" fxLayoutAlign="center">

    <form fxLayout="column">

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">General</h3>
      </div>

  <div class="div-form">
    <div class="grid-container-flow-meters-general">


      <div class="grid-container-general-column2"><img src="assets/img/Symbol/FM.png" class="img3"></div>
      <div class="grid-container-general-column4">{{variable.bf_G_FR}} Ml/d</div>
      <div class="grid-container-general-column1">Suction</div><img src="assets/img/Symbol/bar.png" class="img3" style="margin: auto;"><div class="grid-container-general-column2"></div><div style="grid-row:2" class="grid-container-general-column4">{{variable.bf_G_SP}} bar</div>

  </div>

  <app-alarms [dataSource]="dataSourceG"></app-alarms>

  <br>
  </div>
  </form>
  </section>

  </div>
  <div class="wrapper-grid">

  <!-- //////////////////////////////////////////////////////////////////////////////////////////////// PUMP 1-->

  <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Pump 1</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.bf_P1_STATUS==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.bf_P1_STATUS=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.bf_P1_STATUS=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.bf_P1_STATUS=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.bf_P1_STATUS=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.bf_P1_STATUS==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.bf_P1_STATUS=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.bf_P1_STATUS=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.bf_P1_STATUS=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.bf_P1_STATUS=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P1_MODE}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P1_STATUS}}</div>
    <div class="grid-pumpstation-column2-right-align">Run Hours:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P1_RH}} h</div>

        </div>

        <app-alarms [dataSource]="dataSourceP1"></app-alarms>

        <br>
        </div>
      </form>



  </section>
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////       PUMP 2-->

  <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Pump 2</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.bf_P2_STATUS==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.bf_P2_STATUS=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.bf_P2_STATUS=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.bf_P2_STATUS=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.bf_P2_STATUS=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.bf_P2_STATUS==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.bf_P2_STATUS=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.bf_P2_STATUS=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.bf_P2_STATUS=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.bf_P2_STATUS=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P2_MODE}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P2_STATUS}}</div>
    <div class="grid-pumpstation-column2-right-align">Run Hours:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P2_RH}} h</div>

        </div>

        <app-alarms [dataSource]="dataSourceP2"></app-alarms>

        <br>
        </div>
      </form>



  </section>
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////       PUMP 3-->

  <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Pump 3</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.bf_P3_STATUS==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.bf_P3_STATUS=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.bf_P3_STATUS=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.bf_P3_STATUS=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.bf_P3_STATUS=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.bf_P3_STATUS==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.bf_P3_STATUS=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.bf_P3_STATUS=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.bf_P3_STATUS=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.bf_P3_STATUS=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P3_MODE}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P3_STATUS}}</div>
    <div class="grid-pumpstation-column2-right-align">Run Hours:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P3_RH}} h</div>

        </div>
        <app-alarms [dataSource]="dataSourceP3"></app-alarms>
        <br>
        </div>
      </form>



  </section>
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////       PUMP 3-->

  <section class="ground-form" fxLayoutAlign="center ">
    <form fxLayout="column" >

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Pump 4</h3>
      </div>
      <div class="div-form">
        <div class="grid-container-pumpstation">

            <div class="grid-column-one">
          <div *ngIf="theme=='light-theme'">
            <div  *ngIf="variable.bf_P4_STATUS==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div  *ngIf="variable.bf_P4_STATUS=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div  *ngIf="variable.bf_P4_STATUS=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div  *ngIf="variable.bf_P4_STATUS=='Available'" ><img class="pump1" src="assets/img/P_B.png" ></div>
            <div  *ngIf="variable.bf_P4_STATUS=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

          <div *ngIf="theme=='dark-theme'">
            <div *ngIf="variable.bf_P4_STATUS==undefined"><img class="pump1"  src="assets/img/P_Grey.png" ></div>
            <div *ngIf="variable.bf_P4_STATUS=='Running'" ><img class="pump1" src="assets/img/P_G.png" ></div>
            <div *ngIf="variable.bf_P4_STATUS=='Fault Active'" ><img class="pump1" src="assets/img/P_R.png" ></div>
            <div *ngIf="variable.bf_P4_STATUS=='Available'" ><img class="pump1" src="assets/img/P_W.png" ></div>
            <div *ngIf="variable.bf_P4_STATUS=='Not Available'" ><img class="pump1" src="assets/img/P_Grey.png" ></div>
          </div>

        </div>
    <div class="grid-pumpstation-column2-right-align">Mode:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P4_MODE}}</div>
    <div class="grid-pumpstation-column2-right-align">Status:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P4_STATUS}}</div>
    <div class="grid-pumpstation-column2-right-align">Run Hours:</div>
    <div class="grid-pumpstation-column3-left-align">{{variable.bf_P4_RH}} h</div>

        </div>
        <app-alarms [dataSource]="dataSourceP4"></app-alarms>
        <br>
        </div>
      </form>



  </section>
  </div>
  </div>
