.div-heading-title{

    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
    width:60%;

    text-align: center;
    position: sticky;
    top: 0;
    z-index: 102;
  }

  .div-form{
    height: auto;
    width: 350px;
    max-width: auto;
    min-width: auto;

    background-color: var(--form-background-color);
    box-shadow:5px 5px 5px 5px var(--form-box-shadows);
    border-radius: 5px;
  }





  h1{
    text-align: center;
    color: var( --h1-heading-title);

    font-size: 1.5em;

  }
  h3{
    text-align: center;
    /* padding-top: 5px; */
    margin-top: 5px;
    font-size: 20px;
    padding-top: 0;
  }
  h4{
    text-align: center;
  }













  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }



  @media screen and (min-width : 400px)
{

  .font-size{


    font-size: 12px;
   }
}

@media screen and (max-width : 400px)
{



  .font-size{

    font-size: 9px;
  }
}




:host::ng-deep.mat-form-field-label {
  color: var(--overview-table-filter-color) !important;


 }

 :host::ng-deep.mat-form-field-underline {
  background-color: var(--overview-table-filter-color) !important;

}

:host mat-datepicker-toggle {
  color: var(--overview-table-filter-color) !important;
 }

.item{
    width: 80%;
}

.div-heading-title{

  padding-top: 6px;
  margin-left: auto;
  margin-right: auto;
  width:60%;

  text-align: center;
  position: sticky;
  top: 0;
  z-index: 102;
}

.div-form{
  height: auto;
  width: 350px;
  max-width: auto;
  min-width: auto;

  background-color: var(--form-background-color);
  box-shadow:5px 5px 5px 5px var(--form-box-shadows);
  border-radius: 5px;
}





  h1{
    text-align: center;
    color: var( --h1-heading-title);

    font-size: 1.5em;

  }
h3{
  text-align: center;
  /* padding-top: 5px; */
  margin-top: 5px;
  font-size: 20px;
  padding-top: 0;
}
h4{
  text-align: center;
}













.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}



@media screen and (min-width : 400px)
{

.font-size{


  font-size: 12px;
 }
}

@media screen and (max-width : 400px)
{



.font-size{

  font-size: 9px;
}
}




:host::ng-deep.mat-form-field-label {
color: var(--overview-table-filter-color) !important;


}

:host::ng-deep.mat-form-field-underline {
background-color: var(--overview-table-filter-color) !important;

}

:host mat-datepicker-toggle {
color: var(--overview-table-filter-color) !important;
}

.item{
  width: 80%;
}

.snackbarR{
margin-top: 15px;
width: 100%;
background-color: rgb(253, 239, 239);
}
.snackbarG{
margin-top: 15px;
width: 100%;
background-color: rgb(240, 253, 239);
}



::ng-deep .mat-select-value{color:var(--form-text-color)!important;}
