<app-page-with-trend [siteTitle]="siteTitle"  (messageEvent)="recieveDate($event)" [isLoading]=isLoading [options]="options1">
  <section class="ground-form" fxLayoutAlign="center">

    <form fxLayout="column">

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Communication</h3>
      </div>

  <div class="div-form">
    <div class="grid-container-communicationStatus">

      <div class="grid-container-communicationStatus-column1">Communication Status:</div>
      <div *ngIf="comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
        <img  src="assets/img/General/Green Circle Tick.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px">
        </div>
        <div *ngIf="comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px" >
         <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img">
         </div>
      <div class="grid-container-communicationStatus-column1">Last Update:</div>
      <div class="grid-container-communicationStatus-column3">{{ variable.last_update }}</div>

</div>
</div>

    </form>
    </section>

    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">General</h3>
        </div>
    <div class="div-form">



      <div class="grid-container-general">
      <div  class="grid-container-general-column1">Annual Yield Setpoint: </div>
        <div class="grid-container-general-column3"> {{ variable.annualyieldsetpoint}} kl</div>
        <div class="grid-container-general-column1">Annual Yield To Date: </div>
        <div class="grid-container-general-column3" >{{variable.totalyieldtodate}} kl</div>
        <div  class="grid-container-general-column1">Run Hours: </div>
        <div class="grid-container-general-column3"> {{variable.runhours}} Hours</div>
        <div class="grid-container-general-column1">Total Flow: </div>
        <div class="grid-container-general-column3" >{{variable.totalflow}} kl</div>
        <div class="grid-container-general-column1">Target Flow: </div>
        <div class="grid-container-general-column3" >{{variable.targetflowsetpoint}} l/s</div>
        <div class="grid-container-general-column1">&nbsp;</div>
        <div class="grid-container-general-column3" >&nbsp;</div>

      </div>

      <app-alarms [dataSource]="generalfaultdatasource"></app-alarms>


<br>
    </div>

    </form>
    </section>


    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Pump</h3>
        </div>
    <div class="div-form">



            <div class="grid-container-pump">



                <div   class="grid-image">

                  <div class="grid-image" *ngIf="variable.status==undefined || variable.status=='Available'">

                    <div *ngIf="theme == 'dark-theme'">
                    <img   src="assets/img/Pump/Borehole Pump White.png"   style="width:30px; height:180px;">
                  </div>
                  <div *ngIf="theme == 'light-theme'">
                    <img   src="assets/img/Pump/Borehole Pump Black.png"   style="width:30px; height:180px;"></div>
                  </div>

                  <div class="grid-image" *ngIf="variable.status=='Pump Running'" ><img  src="assets/img/Pump/Borehole Pump Green.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image" *ngIf="variable.status=='Fault Active'" ><img  src="assets/img/Pump/Borehole Pump Red.png"  style="width:30px; height:180px;"></div>
                  <div class="grid-image" *ngIf="variable.status=='Not Available'" ><img  src="assets/img/Pump/Borehole Pump Grey.png"  style="width:30px; height:180px;" ></div>

                </div>



              <!-- First and Second Column -->


                <div class="grid-container-pump-column2">Mode:</div>
                <div class="grid-container-pump-column4">{{variable.pumpmode}}</div>
                <div class="grid-container-pump-column2">Status:</div>
                <div class="grid-container-pump-column4">{{variable.status}}</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/LVL.png" class="img2" ></div>
                <div class="grid-container-pump-column4">{{variable.boreholelevel}} m</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/rpm-hz.png" class="img2" ></div>
                <div class="grid-container-pump-column4">{{variable.vsdfrequency}} Hz</div>

                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/FM.png" class="img2"></div>
                <div class="grid-container-pump-column4">{{variable.flowrate}} l/s</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/bar.png" class="img2"></div>
                <div class="grid-container-pump-column4">{{variable.pressure}} bar</div>
            </div>

            <app-alarms [dataSource]="pumpfaultdatasource"></app-alarms>




            <br>



</div>
      </form>
      </section>

      <section class="ground-form" fxLayoutAlign="center">

        <form fxLayout="column">

          <div style="margin-bottom: 8px"  class="div-form">
            <h3 style="padding-top: 8px; ">Power</h3>
          </div>
      <div class="div-form">

        <div class="grid-container-power">

          <div class="grid-container-power-column1"><img src="assets/img/Symbol/V.png" class="img2"></div>
          <div class="grid-container-power-column3">{{variable.voltage}} V</div>
          <div class="grid-container-power-column1"><img src="assets/img/Symbol/vsdCurrent.png" class="img2"></div>
          <div class="grid-container-power-column3">{{variable.current}} A</div>
          <div class="grid-container-power-column1"><img src="assets/img/Symbol/kW.png" class="img2"></div>
          <div class="grid-container-power-column3">{{variable.power}} KW</div>
          <div class="grid-container-power-column1">Total Power:</div>
          <div class="grid-container-power-column3">{{variable.totalpower}} kWh</div>
          <div class="grid-container-power-column1"></div>
          <div class="grid-container-power-column3"></div>
          </div>








  </div>
        </form>
        </section>


</app-page-with-trend>