<div style="background-color: var(--page-background-color);">
  <div class="div-heading-title"><h1 style="padding-top: 8px;">Coega Kop</h1></div>

  <div class="wrapper-grid">



    <div class="vertical-form">
      <section class="res-form" fxLayoutAlign="center ">
        <form fxLayout="column">
          <div style="margin-bottom: 8px"  class="div-form">
            <h3 style="padding-top: 8px; ">Documentation</h3></div>

            <div class="div-form">

              <div class="grid-container">

                <div class="grid-column-1">Coega Kop Upgrade V2.pdf</div>
                <div class="grid-column-2"><a href="./assets/img/CoegaDocuments/CoegaKopUpgradeV2.pdf"><mat-icon style="color:grey; align-items:center;"  download="CoegaDocuments/Coega Kop Upgrade V2.pdf" >assignment_returned</mat-icon></a></div>
                <div class="grid-column-1">Telemetry IO list - Coega Kop 11.08.2021.xlsx</div>
                <div class="grid-column-2"><a href="./assets/img/CoegaDocuments/TelemetryIOlist-CoegaKop11.08.2021.xlsx"><mat-icon style="color:grey;align-items:center;"  download="Telemetry IO list - Coega Kop 11.08.2021.xlsx">assignment_returned</mat-icon></a></div>
                <div class="grid-column-1">Coega-kop Reservoir.pdf</div>
                <div class="grid-column-2"><a href="./assets/img/CoegaDocuments/Coega-kopReservoir.pdf"><mat-icon style="color:grey;" download="Coega-kop Reservoir.pdf" >assignment_returned</mat-icon></a></div>
              </div>
              </div>




          </form>
          </section>
    </div>
</div>
