.grid-container-flow-meters-general{
  display: grid;
  grid-template-columns:  0.8fr 0.2fr 20px 1fr;
  grid-auto-rows: 30px;
  column-gap: 0px;
  font-size: 12px;
  justify-content:center;
  padding-bottom: 15px;
  padding-top: 15px;
}
.grid-container-general-column1{
  display: grid;
  grid-column:1;
  text-align: right;
  float: right;
  align-items: center;
  overflow: none;
  font-size: 12px;

}
.grid-container-general-column2{
  display: grid;
  grid-column:2;
  text-align: right;
  float: right;
  align-items: center;
  overflow: none;
  margin: 0 auto;
}
.img3{
  width:25px;
  height: 25px;
  z-index:1;
  padding-bottom:0px;
  margin: 0 auto;

}
