<app-page-with-two-trends [siteTitle]="siteTitle" [options]="options" [options2]=options2 (messageEvent)="recieveDate($event)" [isLoading]=isLoading>



  <section class="res-form" fxLayoutAlign="center ">
    <form fxLayout="column">
      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Communication </h3></div>


        <div class="div-form">
          <div class="grid-container-flow-meters-communication" >
            <div class="grid-container-flow-meters-general-column1">Communication Status:</div>
            <!-- <div class="grid-container-flow-meters-general-column3" style=""> -->
            <div *ngIf="variable.comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
            <div class="grid-container-communicationStatus-column3-img"><img  src="assets/img/General/Green Circle Tick.png" style="width:20px; height:20px; padding-top:5px"></div>
              </div>
              <div *ngIf="variable.comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" >
               <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img"  style="width:20px; height:20px; padding-top:5px">
               </div>

            <div class="grid-container-flow-meters-general-column1">Last Update:</div>
            <div class="grid-container-flow-meters-general-column3">{{variable.che_r_ut}}</div>

            <div *ngIf="showNavigationButton == 'true'"  class="grid-container-flow-meters-general-column1"></div>
            <div *ngIf="showNavigationButton == 'true'"  class="grid-container-flow-meters-general-column3"></div>

            <div *ngIf="showNavigationButton == 'true'" class="grid-button">
                <button class="button-color"   a routerLink="/hawkeye/pumpstations/chelsea-ps"  >Pumpstation</button></div>

            </div>
            </div>

            </form>
            </section>


    <section class="res-form" fxLayoutAlign="center ">
      <form fxLayout="column">
        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Flow Rate</h3></div>

          <div class="div-form">

            <div class="grid-container-flow-meters-flowrate">

              <div class="grid-span-four">Summit 1200 mm</div>
              <div class="grid-container-general-column1">&nbsp;</div><div class="grid-container-general-column2"><img class="img2" src="assets/img/Symbol/FM.png" ></div>
              <div class="grid-container-general-column4">{{variable.che_r_fr1100}} Ml/d</div>
              <div style="grid-column:1/span 2;" class="grid-container-general-column1">Total Flow</div>
              <div class="grid-container-general-column4">{{variable.che_r_tf1100}} Ml</div>
              <div class="grid-span-four">Greenbushes 600 mm</div>
              <div class="grid-container-general-column1">&nbsp;</div><div class="grid-container-general-column2"><img class="img2" src="assets/img/Symbol/FM.png" ></div>
              <div class="grid-container-general-column4">{{variable.che_r_fr600}} Ml/d</div>
              <div style="grid-column:1/span 2;" class="grid-container-general-column1">Total Flow</div>
              <div class="grid-container-general-column4">{{variable.che_r_tf600}} Ml</div>

            </div>
            </div>
            </form>
            </section>



  <section class="res-form" fxLayoutAlign="center ">
    <form fxLayout="column">
      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Reservoir</h3></div>

        <div class="div-form">

        <h4 style="padding-top: 8px;" >East Chamber</h4>
<div fxLayoutAlign="center " > <div class="circle1">
  <div  class="circle2-b"><div [ngStyle]="{'height.%' : 100 -variable.che_r_lvl_East }" class="fill"><div class="lvl-font">{{variable.che_r_lvl_East}}%</div></div></div>
</div>
</div>

<br>

<h4 style="padding-top: 8px;" >West Chamber</h4>
<div fxLayoutAlign="center " > <div class="circle1">
  <div  class="circle2-b"><div [ngStyle]="{'height.%' : 100-variable.che_r_lvl}" class="fill"><div class="lvl-font">{{variable.che_r_lvl}}%</div></div></div>
</div>
</div>
<br>
<br>

</div>
              </form>

              </section>



</app-page-with-two-trends>
