<app-page-with-trend [siteTitle]="siteTitle" [options]="options" (messageEvent)="recieveDate($event)" [isLoading]=isLoading>


  <app-panel [title] = commsTitle>


    <app-comms-panel [lastUpdate] =variable.lastupdate  [communicationStatus]=variable.comms [batteryUnit]=variable.battery_status>
    
    
    </app-comms-panel>
    
    
    </app-panel>


  <section class="res-form" fxLayoutAlign="center center">

    <form fxLayout="column">

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Reservoir</h3>
      </div>


  <div class="div-form">


  <br>
  <br>



  <app-level [level] ="variable.level1"></app-level>

  <br>
  <br>


  </div>
    </form>
    </section>

    

    </app-page-with-trend>