<div style="background-color: var(--page-background-color);">
<div class="div-heading-title"><h1 style="padding-top: 8px; ">Greenbushes</h1></div>
<div class="wrapper-grid">





  <section class="res-form" fxLayoutAlign="center ">
    <form fxLayout="column">
      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Communication </h3></div>


        <div class="div-form">
          <div class="grid-container-flow-meters-communication" >
            <div class="grid-container-flow-meters-general-column1">Communication Status:</div>
            <!-- <div class="grid-container-flow-meters-general-column3" style=""> -->
            <div *ngIf="comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
            <div class="grid-container-communicationStatus-column3-img"><img  src="assets/img/General/Green Circle Tick.png" style="width:20px; height:20px; padding-top:4px"></div>
              </div>
              <div *ngIf="comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" >
               <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img"  style="width:20px; height:20px; padding-top:4px">
               </div>

            <div class="grid-container-flow-meters-general-column1">Last Update:</div>
            <div class="grid-container-flow-meters-general-column3">{{gb_UT}}</div>



            </div>
            </div>

            </form>
            </section>

<section class="res-form" fxLayoutAlign="center center">

  <form fxLayout="column">

    <div style="margin-bottom: 8px"  class="div-form">
      <h3 style="padding-top: 8px; ">Reservoir</h3>
    </div>


<div class="div-form">


<br>


<div fxLayoutAlign="center " > <div class="circle1">

  <div  class="circle2-b"><div [ngStyle]="{'height.%' : 100 - gb_RL }" class="fill"><div class="lvl-font">{{gb_RL}}%</div></div></div>
</div>
</div>

<br>





</div>


  </form>

  </section>

  <section class="res-form" fxLayoutAlign="center ">
    <form fxLayout="column">
      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Flow Rate </h3></div>
        <div class="div-form">
          <div class="grid-container-flow-meters-flowrate" >
          <div  *ngIf="gb_SA==0" class="grid-container-column-1" ><div class="column1-led-green"></div></div>
          <div  *ngIf="gb_SA==1" class="grid-container-column-1" ><div class="column1-led-red"></div></div>
          <div class="grid-container-column-2">Surge Arrester:</div>
          <div  *ngIf="gb_SA==0" class="grid-container-column-4" >Ok</div>
          <div  *ngIf="gb_SA==1" class="grid-container-column-4" >Not Ok</div>
          <div  *ngIf="gb_CHS==1" class="grid-container-column-1" ><div class="column1-led-green"></div></div>
          <div  *ngIf="gb_CHS==0" class="grid-container-column-1" ><div class="column1-led-red"></div></div>
          <div class="grid-container-column-2">Charger Status:</div>
          <div  *ngIf="gb_CHS==0" class="grid-container-column-4" >Not Ok</div>
          <div  *ngIf="gb_CHS==1" class="grid-container-column-4" >Ok</div>
          <div class="grid-container-column-2"><img src="assets/img/Symbol/FM.png" class="img3"></div>
          <div class="grid-container-column-4">{{gb_FR}} Ml/d</div>
          <div class="grid-container-column-2">Total Flow Forward:</div>
          <div class="grid-container-column-4">{{gb_FRF}} Ml</div>
          <div class="grid-container-column-2">Total Flow Reverse:</div>
          <div class="grid-container-column-4">{{gb_FRR}} Ml</div>
          <div class="grid-container-column-2">Door:</div>
          <div  *ngIf="gb_D==1" class="grid-container-column-4" >Closed</div>
          <div  *ngIf="gb_D==0" class="grid-container-column-4" >Open</div>
            </div>
          </div>
          </form>
          </section>


</div>


<div style="margin-bottom: 1px ;margin-left: auto; margin-right: auto; margin-top:30px;height:50px;width:350px; -color: var(--form-text-color);"  class="div-form">
  <h3 style="padding-top: 10px; color: var(--form-text-color); ">Total Flow Trend</h3>
</div>

<section class="ps-form" fxLayoutAlign="center " >
  <form fxLayout="column" #f="ngForm" (click)="onDateFilter()">
  <div style="margin-bottom: 1px"  class="div-form">
<mat-form-field style="padding-left: 10px;">
    <mat-label >Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input style="color:  var(--form-text-color);" matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
 <button style="margin-left: 20px;" mat-raised-button >SEARCH</button>
  </div>
  </form>
  </section>
<br>
<div id="main" echarts  [options]="options" class="chart" ></div>
<br>
<br>

