<app-page-with-trend [siteTitle]="siteTitle" [options]="options" (messageEvent)="recieveDate($event)" [isLoading]=isLoading>


    <app-panel [title] = commsTitle>
    <app-comms-panel [lastUpdate] =variables.lastupdate  [communicationStatus]=variables.comms [batteryUnit]=variables.battery_status></app-comms-panel>
</app-panel>

<app-panel [title] = commsTitle2>
  <app-comms-panel [lastUpdate] =variables2.lastupdate  [communicationStatus]=variables2.comms [batteryUnit]=variables2.battery_status></app-comms-panel>
</app-panel>

<app-panel [title] = statusTitle>
    <br>
  
  
    <app-two-column [array]="variablesMatric" style="margin-bottom: 15px;"></app-two-column>
  
  
    <br>
  
  
  </app-panel>

 

</app-page-with-trend>