<div style="background-color: var(--page-background-color);">
  <div class="div-heading-title"><h1 style="padding-top: 8px; ">Waplaas</h1></div>
  <div class="wrapper-grid">

    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Communication</h3>
        </div>

    <div class="div-form">
      <div class="grid-container-communicationStatus">

        <div class="grid-container-communicationStatus-column1">Communication Status:</div>
        <div *ngIf="comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
          <img  src="assets/img/General/Green Circle Tick.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px">
          </div>
          <div *ngIf="comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px" >
           <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img">
           </div>
        <div class="grid-container-communicationStatus-column1">Last Update:</div>
        <div class="grid-container-communicationStatus-column3">{{ wes1_fl_ut }}</div>

  </div>
  </div>

      </form>
      </section>



    <br>
    <section class="basic-grid" style="margin:auto;">
      <button (click)="Event0()" class="card1"><h4>Total Feed</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_f1_feed_A_total}}kg<br>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_f1_feed_B_total}}kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_f1_feed_C_total}}kg</button>
      <button (click)="Event2()" class="card1"><h4>Silo Levels</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes2_fl_sa_silo_levels}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes2_fl_sb_silo_levels}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes2_fl_sc_silo_levels}} kg</button>
      </section>
  <section class="basic-grid" style="margin:auto;">
    <button (click)="Event1(1)" class="card"><h4>Feedlot 1</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p1_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p1_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p1_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p1_lambs}}<br>&nbsp;</button>
    <button (click)="Event1(2)" class="card"><h4>Feedlot 2</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p2_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p2_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p2_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p2_lambs}}<br>&nbsp;</button>
    <button (click)="Event1(3)" class="card"><h4>Feedlot 3</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p3_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p3_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p3_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p3_lambs}}<br>&nbsp;</button>
    <button (click)="Event1(4)" class="card"><h4>Feedlot 4</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p4_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p4_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p4_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p4_lambs}}<br>&nbsp;</button>
    <button (click)="Event1(5)" class="card"><h4>Feedlot 5</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p5_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p5_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p5_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p5_lambs}}<br>&nbsp;</button>
    <button (click)="Event1(6)" class="card"><h4>Feedlot 6</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p6_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p6_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p6_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p6_lambs}}<br>&nbsp;</button>
    <button (click)="Event1(7)" class="card"><h4>Feedlot 7</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p7_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p7_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p7_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p7_lambs}}<br>&nbsp;</button>
    <button (click)="Event1(8)" class="card"><h4>Feedlot 8</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p8_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p8_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p8_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p8_lambs}}<br>&nbsp;</button>
    <button (click)="Event1(9)" class="card"><h4>Feedlot 9</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p9_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p9_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p9_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p9_lambs}}<br>&nbsp;</button>
    <button (click)="Event1(10)" class="card"><h4>Feedlot 10</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p10_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p10_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p10_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p10_lambs}}<br>&nbsp;</button>
    <button (click)="Event1(11)" class="card"><h4>Feedlot 11</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p11_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p11_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p11_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p11_lambs}}<br>&nbsp;</button>
    <button (click)="Event1(12)" class="card"><h4>Feedlot 12</h4><br>&nbsp;&nbsp;&nbsp;A:&nbsp;&nbsp;{{wes1_fl_p12_feed_A}} kg<br/>&nbsp;&nbsp;&nbsp;B:&nbsp;&nbsp;{{wes1_fl_p12_feed_B}} kg<br>&nbsp;&nbsp;&nbsp;C:&nbsp;&nbsp;{{wes1_fl_p12_feed_C}} kg <br>&nbsp;&nbsp;&nbsp;Animal Count:&nbsp;&nbsp;{{wes2_fl_p12_lambs}}<br>&nbsp;</button>
  </section>


<br>
<mat-progress-bar style="background-color: black" *ngIf="isLoading==true" style  mode="indeterminate"></mat-progress-bar>
<div style="margin-bottom: 1px ;margin-left: auto; margin-right: auto; margin-top:30px;height:50px;width:350px; -color: var(--form-text-color);"  class="div-form">
  <h3 style="padding-top: 10px; color: var(--form-text-color); ">{{name24}}</h3>
</div>
<br>
<div id="main" echarts  [options]="option" class="chart" ></div>
<br>
<br>
<div style="margin-bottom: 1px ;margin-left: auto; margin-right: auto; margin-top:30px;height:50px;width:350px; -color: var(--form-text-color);"  class="div-form">
  <h3 style="padding-top: 10px; color: var(--form-text-color); ">{{name32}}</h3>
</div>
<br>
<div id="main" echarts  [options]="barOptions" class="chart" ></div>
<br>
<br>
<div  *ngIf="showSilos==true">
<div style="margin-bottom: 1px ;margin-left: auto; margin-right: auto; margin-top:30px;height:50px;width:350px; -color: var(--form-text-color);"  class="div-form">
  <h3 style="padding-top: 10px; color: var(--form-text-color); ">Silo Fill Data</h3>
</div>
<br>
<div id="main" echarts  [options]="siloOptions" class="chart" ></div>
<br>
<br>
</div>

</div>

