
<section class="editP-form" fxLayoutAlign="center ">

  <form fxLayout="column"  #f="ngForm" (ngSubmit)="onEditPassword(f)">
<br><br><br>
      <h4 style="text-align:center ">  <strong>Edit Password</strong> </h4>
  <mat-form-field >
    <input
    type="password"
                              matInput placeholder="Current Password"
    ngModel name="cPassword"
    required
    minlength="6"
    #currentPassword="ngModel">
    <mat-hint style="color: var(--overview-table-filter-color) !important;" align="end">{{currentPassword.value?.length}} / 6</mat-hint>
  </mat-form-field>

  <br>
  <mat-form-field >
    <input
    type="password"
                                matInput placeholder="Your New Password"
    ngModel name="nPassword"
    required
    minlength="6"
    #newPassword="ngModel">

    <mat-hint style="color: var(--overview-table-filter-color) !important;" align="end">{{newPassword.value?.length}} / 6</mat-hint>
  </mat-form-field>
  <mat-form-field >
    <input
    type="password"
                                matInput placeholder="Confirm New Password"
    ngModel name="cnPassword"
    required
    minlength="6"
    #cNewP="ngModel">

    <mat-hint style="color: var(--overview-table-filter-color) !important;" align="end">{{cNewP.value?.length}} / 6</mat-hint>
  </mat-form-field>
  <mat-error *ngIf="newPassword.value != cNewP.value">Passwords do not match</mat-error>
  <button  class="btn1" type="submit" mat-button [disabled]="newPassword.value!==cNewP.value" >Confirm</button>

<button class="snackbarR" *ngIf="userService.error==true" mat-stroked-button (click)="closeSnackBar()">
  {{userService.errorMessage}}!
</button>
<button class="snackbarG" *ngIf="userService.editPasswordSuccess==true" mat-stroked-button (click)="closeSnackBar()">
  {{userService.editPasswordSuccessMsg}}!
</button>
  </form>
</section>



