.res-form {
  padding-top: 10px;
  flex-wrap: wrap;
  color:  var(--form-text-color);
  background-color: var(--page-background-color)
}

.div-form{
  height: auto;
  width: 350px;
  max-width: auto;
  min-width: auto;

  background-color: var(--form-background-color);
  box-shadow:5px 5px 5px var(--form-box-shadows);
  border-radius: 5px;
}


h3{
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
  padding-top: 0;
}
/* SO I'm putting the css at the html component I want to use.  That way I don't have to go and scroll through an entire page. */
