<app-page-with-trend [siteTitle]="siteTitle" [options]="options" (messageEvent)="recieveDate($event)" [isLoading]=isLoading>


  <section class="res-form" fxLayoutAlign="center ">
    <form fxLayout="column">
      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Communication </h3></div>


        <div class="div-form">
          <div class="grid-container-flow-meters-communication">
            <div class="grid-container-flow-meters-general-column1">Communication Status:</div>
            <!-- <div class="grid-container-flow-meters-general-column3" style=""> -->
            <div *ngIf="variable.comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
            <div class="grid-container-communicationStatus-column3-img"><img  src="assets/img/General/Green Circle Tick.png" style="width:20px; height:20px; padding-top:5px;"></div>
              </div>
              <div *ngIf="variable.comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" >
               <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img"  style="width:20px; height:20px; padding-top:5px;">
               </div>

            <div class="grid-container-flow-meters-general-column1">Last Update:</div>
            <div class="grid-container-flow-meters-general-column3">{{variable.lastUpdate}}</div>

            <div *ngIf="showNavigationButton == 'true'"  class="grid-container-flow-meters-general-column1"></div>
            <div *ngIf="showNavigationButton == 'true'"  class="grid-container-flow-meters-general-column3"></div>

            <div *ngIf="showNavigationButton == 'true'" class="grid-button">
              <button class="button-color" a routerLink="/hawkeye/pumpstations/motherwell"  >Pumpstation</button></div>
    </div>


            </div>





            </form>
            </section>


    <app-panel [title]=titleG>
      <div class="grid-container-valve-general">
        <div class="grid-container-communication-general-column2">Valve 1 Mode:</div>      <div class="grid-container-communication-general-column4">{{variable.mw_r_valve_1_mode}}</div>
        <div class="img2">    <svg xmlns="http://www.w3.org/2000/svg" class="img2" width="100%" height="50px" viewBox="0 0 300 240" version="1.1"><path [attr.d]=valveImage1 stroke="none" [attr.fill]=valveColor1 fill-rule="evenodd"/></svg></div>     <div class="grid-container-communication-general-column2">Valve 1 Status:</div>       <div class="grid-container-communication-general-column4">{{variable.mw_r_valve_1_status_word}}</div>
        <div class="grid-container-communication-general-column2">Valve 1 Position:</div>       <div class="grid-container-communication-general-column4">{{variable.mw_r_valve_1_position}} %</div>


        <div class="grid-container-communication-general-column2">Valve 2 Mode:</div>       <div class="grid-container-communication-general-column4">{{variable.mw_r_valve_2_mode}}</div>
        <div class="img2">    <svg xmlns="http://www.w3.org/2000/svg" class="img2" width="100%" height="50px" viewBox="0 0 300 240" version="1.1"><path [attr.d]=valveImage2 stroke="none" [attr.fill]=valveColor2 fill-rule="evenodd"/></svg></div>     <div class="grid-container-communication-general-column2">Valve 2 Status:</div>       <div class="grid-container-communication-general-column4">{{variable.mw_r_valve_2_status_word}}</div>
        <div class="grid-container-communication-general-column2">Valve 2 Position:</div><div class="grid-container-communication-general-column4">{{variable.mw_r_valve_2_position}} %</div>

      </div>

    </app-panel>


 <app-panel [title]=title1>
  <div class="grid-container-valve-general">
    <div class="grid-span-four">North Chamber</div>


  </div>

  <app-level [level] = variable.mw_r_north_cham_res_lvl></app-level>
  <div class="grid-container-valve-general">
    <div class="grid-span-four">South Chamber</div>


  </div>

  <app-level [level] = variable.mw_r_south_cham_res_lvl></app-level>



 </app-panel>

</app-page-with-trend>