<div style="background-color: var(--page-background-color);">
    <div class="div-heading-title"><h1 style="padding-top: 8px; ">Trend Picker</h1></div>
    <br>

        <div style="padding-bottom: 6px"></div>
        <form fxLayout="column"#i="ngForm" (ngSubmit)="onTrendFilter()">

        <div class="wrapper-grid">




          <section  style="color: var(--overview-table-filter-color);"class="ps-form" fxLayoutAlign="center " >
            <form style="color: var(--overview-table-filter-color);" fxLayout="column" >
              <mat-form-field   style="width: 350px; height: 100%;" >
            <mat-label  >Trend Tag</mat-label>
            <!-- is there an alternative to the multiple key word -->
            <mat-select [formControl]="Sites" multiple >
              <mat-option style="background-color: var(--form-background-color);color: var(--overview-table-filter-color); font-weight: 600" *ngFor="let site of SitesList" [value]="site" >{{site}}</mat-option>
            </mat-select>
              </mat-form-field>
            </form>
          </section>


          <section  style="color: var(--overview-table-filter-color);"class="ps-form" fxLayoutAlign="center " >
            <form style="color: var(--overview-table-filter-color);" fxLayout="column" >
              <mat-form-field   style="width: 350px; height: 100%;" >
            <mat-label  >Time Stamp</mat-label>
           <mat-select [formControl]="timeStamps" size ="1">
              <mat-option style="background-color: var(--form-background-color);color: var(--overview-table-filter-color); font-weight: 600" *ngFor="let selected of selectedItem" [value]="selected">{{ selected }}</mat-option>
            </mat-select>

              </mat-form-field>
            </form>
          </section>





          <section class="ps-form" fxLayoutAlign="center " >
              <div style="margin-bottom: 1px"  >
                <mat-form-field style="padding-left: 5px; width: 240px;">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input style="color: var(--overview-table-filter-color);" [formGroup]="range" [rangePicker]="picker">
                    <input style="color: var(--overview-table-filter-color)" matStartDate formControlName="start" placeholder="Start date">
                    <input style="color: var(--overview-table-filter-color)" matEndDate formControlName="end" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
               <button class="button" id="download" style="margin-left: 20px;" mat-raised-button >Search</button>
              </div>


          </section>

             <section class="download" fxLayoutAlign="left "style="column-width:100px" >
      <div style="margin-bottom: 0px"    >

             <button class="button" id="export" style="margin-left: 20px;" (click) = handleClick() mat-raised-button >Download</button>
            </div>


        </section>

      </div>


     </form>
  <!-- Loading bar -->
     <mat-progress-bar style="background-color: black" *ngIf="isLoading==true" style  mode="indeterminate"></mat-progress-bar>



     <br>
     <br>








