<app-page-component [siteTitle]=title>

  <section class="ground-form" fxLayoutAlign="center">

    <form fxLayout="column">

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Communication</h3>
      </div>

  <div class="div-form">
    <div class="grid-container-flow-meters-communication">

      <div class="grid-container-communicationStatus-column1">Communication Status:</div>
      <div *ngIf="comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
        <img  src="assets/img/General/Green Circle Tick.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3; padding-top: 0px;">
        </div>
        <div *ngIf="comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;" >
         <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img"style="grid-column: 3; padding-top: 0px;">
         </div>

      <div class="grid-container-communicationStatus-column1">Last Update:</div>
      <div class="grid-container-communicationStatus-column3">{{variable.mw_g_p_new_ut}}</div>

      <div *ngIf="showNavigationButton == 'true'"  class="grid-container-flow-meters-general-column1"></div>
      <div *ngIf="showNavigationButton == 'true'"  class="grid-container-flow-meters-general-column3"></div>

      <div *ngIf="showNavigationButton == 'true'" class="grid-button">
          <button class="button-color"   a routerLink="/hawkeye/reservoirs/motherwellres"  >Reservoir</button></div>
</div>

</div>
</form>
</section>



<app-panel [title]="titleG">
  <br>
  <app-two-column [array]=variablesMatricG></app-two-column>
  <br>
</app-panel>

  <app-ground-water [title]=pump1 [array]=variablesMatric1 [generalfaultdatasource]=dataSourceP1 [pumpColor]=pumpColor1 [pumpType]=Pump></app-ground-water>
  <app-ground-water [title]=pump2 [array]=variablesMatric2 [generalfaultdatasource]=dataSourceP2 [pumpColor]=pumpColor2 [pumpType]=Pump></app-ground-water>
  <app-ground-water [title]=pump3 [array]=variablesMatric3 [generalfaultdatasource]=dataSourceP3 [pumpColor]=pumpColor3 [pumpType]=Pump></app-ground-water>
  <app-ground-water [title]=pump4 [array]=variablesMatric4 [generalfaultdatasource]=dataSourceP4 [pumpColor]=pumpColor4 [pumpType]=Pump></app-ground-water>

</app-page-component>
