<div *ngFor="let item of array" class="grid-container-text">
  <div class="grid-container-text-column1">

   <div *ngIf="item.rowType =='Pressure'">
    <img src="assets/img/Symbol/bar.png" class="img3"></div>
    <div *ngIf="item.rowType =='Flow Rate'">
      <img src="assets/img/Symbol/FM.png" class="img3"></div>
      <div *ngIf="item.rowType =='Level'">
        <img src="assets/img/Symbol/LVL.png" class="img3"></div>
      <div *ngIf="item.rowType =='TextRow'">
        <div>{{item.label}}:</div>
        </div>
      </div>









  <div class="grid-container-text-column4">{{item.value}}</div>
</div>
