.example-chip-list {
  width: 100%;
}

:host::ng-deep.mat-form-field-label {
  color: var(--overview-table-filter-color) !important;


 }

 :host::ng-deep.mat-form-field-underline {
  background-color: var(--overview-table-filter-color) !important;

}

:host mat-datepicker-toggle {
  color: var(--overview-table-filter-color) !important;
 }



td
{font-family: 'Rubik', sans-serif !important;
color: var(--overview-res-table-td);
font-weight:400;

}
th{
  color: var(--overview-res-table-th);
  font-weight: bold;
  z-index: 1
}



.wrapper-grid{

  display: grid;
  grid-template-columns: repeat(auto-fit,360px);
  justify-content: center;


}
.ps-form {
  justify-content: center;
  padding-top: 10px;
}


.div-heading-title{
  padding-top: 6px;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 102;
  color: white;
}

h3{
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
  padding-top: 0;
}

h4{
  text-align: center;
}


@media screen and (min-height : 700px)
{
  .chart { margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 94%;
    background-color: var(--form-background-color);
    box-shadow:5px 5px 5px  var(--form-box-shadows);
    color: var(--form-text-color2);
    border-radius: 7px;
  }
}

@media screen and (max-height : 700px)
{
  .chart {
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 92%;
    background-color: var(--form-background-color);
    box-shadow:5px 5px 5px  var(--form-box-shadows);
    color: var(--form-text-color2);
    border-radius: 7px;
  }
}

@media screen and (min-width : 550px)
{

  .example-container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    max-width: 100%;
    overflow: auto;
  }

  table {
    width: 1000px;
    background-color: var(--overview-table-color);
    box-shadow:5px 5px 5px  var(--form-box-shadows);
  }

  .tag-select{

    height: 60%;
  }

}

@media screen and (max-width : 550px)
{
  .example-container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    max-width: 100%;
    overflow: auto;
  }

  table {
    width: 500px;
    background-color: var(--overview-table-color);
    box-shadow:5px 5px 5px  var(--form-box-shadows);
  }
  .tag-select{

    height: 80%;
  }
}


.button{
  background-color: rgb(89, 105, 128);
  color: rgb(230, 230, 230);
}







td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}


