<app-page-with-trend [siteTitle]="siteTitle" [options]="options" (messageEvent)="recieveDate($event)" [isLoading]=isLoading>

  <section class="res-form" fxLayoutAlign="center ">
    <form fxLayout="column">
      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Communication </h3></div>


        <div class="div-form">
          <div class="grid-container-flow-meters-communication">
            <div class="grid-container-flow-meters-general-column1">Communication Status:</div>
            <!-- <div class="grid-container-flow-meters-general-column3" style=""> -->
            <div *ngIf="variable.comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
            <div class="grid-container-communicationStatus-column3-img"><img  src="assets/img/General/Green Circle Tick.png" style="width:20px; height:20px; padding-top:5px;"></div>
              </div>
              <div *ngIf="variable.comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" >
               <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img"  style="width:20px; height:20px; padding-top:5px;">
               </div>

            <div class="grid-container-flow-meters-general-column1">Last Update:</div>
            <div class="grid-container-flow-meters-general-column3">{{variable.oli_ut}}</div>
            <div class="grid-container-flow-meters-general-column1">Battery Unit Last Update:</div>
            <div class="grid-container-flow-meters-general-column3">{{variable.batteryUnitUpdate}}</div>



            </div>
            </div>

            </form>
            </section>


            <app-res-panel [level]="variable.oli_lvl" [title]="reservoirTitle"></app-res-panel>

</app-page-with-trend>