<div style="background-color: var(--page-background-color);">
  <div class="div-heading-title"><h1 style="padding-top: 8px; ">Gamtoos Break Water</h1></div>
  <div class="wrapper-grid">


    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Communication</h3>
        </div>

    <div class="div-form">
      <div class="grid-container-communicationStatus">
        <div class="grid-container-communicationStatus-column1">Communication Status:</div>
        <div *ngIf="variable.comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
          <img  src="assets/img/General/Green Circle Tick.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px">
          </div>
          <div *ngIf="variable.comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px" >
           <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img">
           </div>
        <div class="grid-container-communicationStatus-column1">Last Update:</div>
        <div class="grid-container-communicationStatus-column3">{{ variable.gbw_ut }}</div>


        </div>
        </div>
        </form>
        </section>

        <section class="ground-form" fxLayoutAlign="center ">
          <form fxLayout="column">
            <div style="margin-bottom: 8px"  class="div-form">
              <h3 style="padding-top: 8px; ">Tank Level</h3>
            </div>

            <div class="div-form">
              <br>

                <div fxLayoutAlign="center" > <div class="circle1">
               <div  class="circle2-b"><div [ngStyle]="{'height.%' : 100-variable.gbw_tank_level }" class="fill"><div class="lvl-font">{{variable.gbw_tank_level}}%</div></div></div>
              </div>
              </div>
              <div class="grid-container-flow-meters-general">


              </div>
              </div>

          </form>

          </section>


        <section class="ground-form" fxLayoutAlign="center ">

          <form fxLayout="column">
            <div style="margin-bottom: 8px"  class="div-form">
              <h3 style="padding-top: 8px; ">Status</h3>
            </div>

            <div class="div-form">
              <div class="grid-container-flow-meters-general">
                <div class="grid-container-flow-meters-general-column1">Auto/Manual:</div>
                <div class="grid-container-flow-meters-general-column3">{{variable.gbw_mode}} </div>
                <div class="grid-container-flow-meters-general-column1">Local Remote:</div>
                <div class="grid-container-flow-meters-general-column3">{{variable.gbw_local_remote}} </div>

                <div *ngIf="theme=='light-theme'" class="grid-container-flow-meters-general-column1-img" style="margin:0 auto">
                  <div class="img2" *ngIf="variable.gbw_status=='Opening'"><img class="img2" src="assets/img/Valves/CV B Moving.png"></div>
                  <div class="img2" *ngIf="variable.gbw_status=='Open'"><img class="img2" src="assets/img/Valves/CV B Opened.png"></div>
                  <div class="img2" *ngIf="variable.gbw_status=='Closing'"><img class="img2" src="assets/img/Valves/CV B Moving.png"></div>
                  <div class="img2" *ngIf="variable.gbw_status=='Closed'"><img class="img2" src="assets/img/Valves/CV B Closed.png"></div>
                  <div class="img2" *ngIf="variable.gbw_status=='Fault Active'"><img class="img2" src="assets/img/Valves/CV Fault.png"></div>
                 </div>
                 <div *ngIf="theme=='dark-theme'" class="grid-container-flow-meters-general-column1-img">
                  <div class="img2" *ngIf="variable.gbw_status=='Opening'"><img class="img2" src="assets/img/Valves/CV W Moving.png"></div>
                  <div class="img2" *ngIf="variable.gbw_status=='Open'"><img  class="img2"src="assets/img/Valves/CV W Opened.png"></div>
                  <div class="img2" *ngIf="variable.gbw_status=='Closing'"><img class="img2" src="assets/img/Valves/CV W Moving.png"></div>
                  <div class="img2" *ngIf="variable.gbw_status=='Closed'"><img class="img2"src="assets/img/Valves/CV W Closed.png"></div>
                  <div class="img2" *ngIf="variable.gbw_status=='Fault Active'"><img class="img2" src="assets/img/Valves/CV Fault.png"></div>
                 </div>
                <div class="grid-container-flow-meters-general-column1">Valve Status:</div>
                <div class="grid-container-flow-meters-general-column3">{{variable.gbw_status}} </div>




                </div>
                <table mat-elevation-z8 mat-table [dataSource]="dataSource" >

                  <ng-container matColumnDef="alarm" >
                    <th style=" width:40px"mat-header-cell *matHeaderCellDef  > INCIDENT </th>
                    <td style=" width:40px"mat-cell *matCellDef="let element"> {{element.alarm}} </td>
                  </ng-container>

                  <ng-container matColumnDef="description" >
                    <th style=" padding-left: 30px;"mat-header-cell *matHeaderCellDef  > DESCRIPTION </th>
                    <td style=" padding-left: 30px;"mat-cell *matCellDef="let element"> {{element.description}} </td>
                  </ng-container>

                  <tr style="width:20px" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
<br>
                </div>
                </form>
                </section>

                <section class="ground-form" fxLayoutAlign="center ">

                  <form fxLayout="column">
                    <div style="margin-bottom: 8px"  class="div-form">
                      <h3 style="padding-top: 8px; ">Pressure</h3>
                    </div>

                    <div class="div-form">
                      <div class="grid-container-flow-meters-flow">

                        <div class="grid-container-flow-meters-flow-column1">Actual </div><div class="grid-container-flow-meters-flow-column2"><img src="assets/img/Symbol/bar.png" class="img3"></div>
                        <div class="grid-container-flow-meters-general-column3"> {{variable.gbw_actual_pressure}} bar</div>

                        <div class="grid-container-flow-meters-flow-column1-span2">Line Pressure In:</div>
                        <div class="grid-container-flow-meters-general-column3">{{variable.gbw_line_bar_in}} bar</div>
                        <div class="grid-container-flow-meters-flow-column1-span2">Line Pressure Out:</div>
                        <div class="grid-container-flow-meters-general-column3"> {{variable.gbw_line_bar_out}} bar</div>


                        </div>
                        </div>
                        </form>
                        </section>


                        <section class="ground-form" fxLayoutAlign="center ">

                          <form fxLayout="column">
                            <div style="margin-bottom: 8px"  class="div-form">
                              <h3 style="padding-top: 8px; ">Flow</h3>
                            </div>

                            <div class="div-form">
                              <div class="grid-container-flow-meters-flow">
                                <div class="grid-container-flow-meters-flow-column2"><img src="assets/img/Symbol/FM.png" class="img3"></div>
                                <div class="grid-container-flow-meters-general-column3"> {{variable.gbw_flow_rate}} Ml/d</div>
                                <div class="grid-container-flow-meters-flow-column1-span2">Total Flow to Summit:</div>
                                <div class="grid-container-flow-meters-general-column3"> {{variable.gbw_tf_for_to_sum}} Ml</div>
                                <div class="grid-container-flow-meters-flow-column1-span2">Total Flow to Confluence:</div>
                                <div class="grid-container-flow-meters-general-column3">{{variable.gbw_tf_res_to_con}} Ml</div>
                                </div>
                            </div>

                          </form>

                          </section>


        </div>

        </div>




