
<div style="background-color: var(--page-background-color);">
  <div class="div-heading-title"><h1 style="padding-top: 8px; ">Kruisfontein Borehole 12</h1></div>
<div class="wrapper-grid">
  <section class="ground-form" fxLayoutAlign="center">

    <form fxLayout="column">

      <div style="margin-bottom: 8px"  class="div-form">
        <h3 style="padding-top: 8px; ">Communication</h3>
      </div>

  <div class="div-form">
    <div class="grid-container-communicationStatus">

      <div class="grid-container-communicationStatus-column1">Communication Status:</div>
      <div *ngIf="variable.comms=='OK'"  class="grid-container-communicationStatus-column3-img" >
        <img  src="assets/img/General/Green Circle Tick.png" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px">
        </div>
        <div *ngIf="variable.comms=='NOT OK'" class="grid-container-communicationStatus-column3-img" style="grid-column: 3;padding-top: 5px" >
         <img class="pump"src="assets/img/General/Red Circle Cross.png" class="grid-container-communicationStatus-column3-img">
         </div>
      <div class="grid-container-communicationStatus-column1">Last Update:</div>
      <div class="grid-container-communicationStatus-column3">{{variable.gw_klm_kruis12_UT}}</div>
    </div>
      <section class="basic-grid" style="margin:auto;">
        <div *ngIf="showGW13 == 'true'" class="grid-button">
          <button class="button-color" a routerLink="/hawkeye/groundwater/kruisfontein-gw13" style="height: 28px;" >13</button></div>





          <div *ngIf="showGW14 == 'true'" class="grid-button">
            <button class="button-color" a routerLink="/hawkeye/groundwater/kruisfontein-gw14" style="height: 28px;"  >14</button></div>

            <div *ngIf="showR == 'true'" class="grid-button">
              <button class="button-color" a routerLink="/hawkeye/reservoirs/kruisfontein-r" style="height: 28px;"  >Reservoir</button></div>

          </section>

          <br>

</div>

    </form>
    </section>

    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">General</h3>
        </div>
    <div class="div-form">



      <div class="grid-container-general">
        <div class="grid-container-general-column1">Number of starts: </div>
        <div class="grid-container-general-column3" >{{variable.gw_klm_kruis12_number_of_starts}}</div>

        <div  class="grid-container-general-column1">Run Hours: </div>
        <div class="grid-container-general-column3">{{variable.gw_klm_kruis12_run_hours}}  Hours</div>
        <div class="grid-container-general-column1">Control Mode: </div>
        <div class="grid-container-general-column3" >{{variable.gw_klm_kruis12_control_mode}} </div>
        <div class="grid-container-general-column1">Target Flow: </div>
        <div class="grid-container-general-column3" >{{variable.gw_klm_kruis12_target_flow}} l/s</div>
        <div class="grid-container-general-column1">Target Frequincy: </div>
        <div class="grid-container-general-column3" >{{variable.gw_klm_kruis12_target_freq}} Hz</div>


        <div class="grid-container-general-column1">&nbsp;</div>
        <div class="grid-container-general-column3" >&nbsp;</div>

      </div>


    </div>

    </form>
    </section>


    <section class="ground-form" fxLayoutAlign="center">

      <form fxLayout="column">

        <div style="margin-bottom: 8px"  class="div-form">
          <h3 style="padding-top: 8px; ">Pump</h3>
        </div>
    <div class="div-form">



            <div class="grid-container-pump">



                 <div *ngIf="theme=='light-theme'"  class="grid-image">
                  <div class="grid-image"  *ngIf="variable.gw_klm_kruis12_status==undefined"><img   src="assets/img/Pump/Borehole Pump Grey.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image"  *ngIf="variable.gw_klm_kruis12_status=='Running'" ><img  src="assets/img/Pump/Borehole Pump Green.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image"  *ngIf="variable.gw_klm_kruis12_status=='Interlocked'" ><img  src="assets/img/Pump/Borehole Pump Red.png"  style="width:30px; height:180px;" ></div>
                  <div class="grid-image"  *ngIf="variable.gw_klm_kruis12_status=='Available'" ><img  src="assets/img/Pump/Borehole Pump Black.png"  style="width:30px; height:180px;" ></div>
                  <div class="grid-image"  *ngIf="variable.gw_klm_kruis12_status=='Not Available'" ><img  src="assets/img/Pump/Borehole Pump Grey.png" style="width:30px; height:180px;" ></div>
                </div>

                <div *ngIf="theme=='dark-theme'" class="grid-image">
                  <div class="grid-image" *ngIf="variable.gw_klm_kruis12_status==undefined"><img   src="assets/img/Pump/Borehole Pump Grey.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image" *ngIf="variable.gw_klm_kruis12_status=='Running'" ><img  src="assets/img/Pump/Borehole Pump Green.png"   style="width:30px; height:180px;"></div>
                  <div class="grid-image" *ngIf="variable.gw_klm_kruis12_status=='Interlocked'" ><img  src="assets/img/Pump/Borehole Pump Red.png"  style="width:30px; height:180px;"></div>
                  <div class="grid-image" *ngIf="variable.gw_klm_kruis12_status=='Available'" ><img  src="assets/img/Pump/Borehole Pump White.png"  style="width:30px; height:180px;" ></div>
                  <div class="grid-image" *ngIf="variable.gw_klm_kruis12_status=='Not Available'" ><img  src="assets/img/Pump/Borehole Pump Grey.png"  style="width:30px; height:180px;" ></div>
                </div>



              <!-- First and Second Column -->


                <div class="grid-container-pump-column2">Mode:</div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis12_mode}}</div>
                <div class="grid-container-pump-column2">Status:</div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis12_status}}</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/LVL.png" class="img2" ></div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis12_lvl}} m</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/rpm-hz.png" class="img2" ></div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis12_vsd}} Hz</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/bar.png" class="img2"></div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis12_bar}} bar</div>
                <div class="grid-container-pump-column2"><img src="assets/img/Symbol/FM.png" class="img2"></div>
                <div class="grid-container-pump-column4">{{variable.gw_klm_kruis12_flow_rate}} l/s</div>

                <div class="grid-container-pump-column2">Total Flow: </div>
                <div class="grid-container-pump-column4" >{{variable.gw_klm_kruis12_TF}} m³</div>
            </div>

            <app-alarms [dataSource]="dataSourceP1"></app-alarms>


            <br>



</div>
      </form>
      </section>

      <section class="ground-form" fxLayoutAlign="center">

        <form fxLayout="column">

          <div style="margin-bottom: 8px"  class="div-form">
            <h3 style="padding-top: 8px; ">Power</h3>
          </div>
      <div class="div-form">

        <div class="grid-container-power">

          <div class="grid-container-power-column1"><img src="assets/img/Symbol/V.png" class="img2"></div>
          <div class="grid-container-power-column3">{{variable.gw_klm_kruis12_voltage}} V</div>
          <div class="grid-container-power-column1"><img src="assets/img/Symbol/vsdCurrent.png" class="img2"></div>
          <div class="grid-container-power-column3">{{variable.gw_klm_kruis12_current}} A</div>
          <div class="grid-container-power-column1"><img src="assets/img/Symbol/kW.png" class="img2"></div>
          <div class="grid-container-power-column3">{{variable.gw_klm_kruis12_power}} KW</div>
          <div class="grid-container-power-column1">Total Power:</div>
          <div class="grid-container-power-column3">{{variable.gw_klm_kruis12_total_power}} kWh</div>
          <div class="grid-container-power-column1"></div>
          <div class="grid-container-power-column3"></div>
          </div>








  </div>
        </form>
        </section>


      </div>

      <div style="margin-bottom: 1px ;margin-left: auto; margin-right: auto; margin-top:30px;height:50px;width:350px; -color: var(--form-text-color);"  class="div-form">
        <h3 style="padding-top: 10px; color: var(--form-text-color); ">Total Flow Trend</h3>
      </div>

      <section class="ps-form" fxLayoutAlign="center " >
        <form fxLayout="column" #f="ngForm" (click)="onDateFilter()">
        <div style="margin-bottom: 1px"  class="div-form">
      <mat-form-field style="padding-left: 10px;">
          <mat-label >Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input style="color:  var(--form-text-color);" matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
       <button style="margin-left: 20px;" mat-raised-button >SEARCH</button>
        </div>
        </form>
        </section>
        <br>
<mat-progress-bar style="background-color: black" *ngIf="isLoading==true" style  mode="indeterminate"></mat-progress-bar>
      <br>
      <div id="main" echarts  [options]="options" class="chart" ></div>
      <br>
      <br>

      </div>
